
<input type="hidden" name="cid" value="{{$customer.cid|default:0}}">

		<div class="area-bottom">
			<div class="form-group">
				<label class="col-sm-2 control-label">客户名称：</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="name" value="{{$customer.name|default:''}}" style="display:inline;">
				</div>
				<div class="col-sm-1">
					<span class="text-value" style="font-size:14px; margin-left: -20px; color:red;">【必选】</span>
				</div>
			</div>
			{{if empty($customer.cid)}}
			<div class="form-group">
				<label class="col-sm-2 control-label">电话：</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="identity_mobile" value="" style="display:inline;">
				</div>
				<div class="col-sm-1">
					<span class="text-value" style="font-size:14px; margin-left: -20px; color:red;">【必选】</span>
				</div>
			</div>
			{{/if}}
			<div class="form-group">
				<label class="col-sm-2 control-label">客户类型：</label>
				<div class="col-sm-4">
					<select id="_j_chg_customer_identity" class="form-control" name="identity">
						<option value="0" {{if empty($customer.identity)}} selected="true" {{/if}}>请选择</option>
						{{foreach $identitys as $k=>$v}}
						<option value="{{$k}}" {{if !empty($customer.identity)&&$customer.identity==$k}} selected="true" {{/if}}>{{$v}}</option>
						{{/foreach}}
					</select>
				</div>
				<div class="col-sm-1">
					<span class="text-value" style="font-size:14px; margin-left: -20px; color:red;">【必选】</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">客户来源：</label>
				<div class="col-sm-4">
					<select class="form-control" name="source">
						<option value="0" {{if empty($customer.source)}}selected="true" {{/if}}>请选择</option>
						{{foreach $sources as $skey=>$src}}
						<option value="{{$skey}}" {{if !empty($customer.source)&&$customer.source==$skey}}selected="true"{{/if}}>{{$src}}</option>
						{{/foreach}}
					</select>
				</div>
				<div class="col-sm-1">
					<span class="text-value" style="font-size:14px; margin-left: -20px; color:red;">【必选】</span>
				</div>
			</div>
            <div class="form-group">
                <label class="col-sm-2 control-label">客户城市：</label>
                <div class="col-sm-4">
                    <select class="form-control" name="city_id">
                    <option value="0" {{if empty($customer.city_id)}}selected="true" {{/if}}>请选择</option>
                    {{foreach $cities as $city_id => $city_name}}
                    <option value="{{$city_id}}" {{if !empty($customer.city_id)&&$customer.city_id==$city_id}}selected="true"{{/if}}>{{$city_name}}</option>
                    {{/foreach}}
                    </select>
                </div>
                <div class="col-sm-1">
                    <span class="text-value" style="font-size:14px; margin-left: -20px; color:red;">【必选】</span>
                </div>
            </div>
			<div class="form-group">
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-6">
					<textarea class="form-control" name="note" rows="4">{{$customer.note|default:''}}</textarea>
				</div>
			</div>
		</div>
        <div class="area-bottom">
            <div class="form-group">
                <label class="col-sm-2 control-label">客户类别：</label>
                <div class="col-sm-3">
                    <select class="form-control" name="level_for_sys">
                        <option value="0" {{if empty($customer.level_for_sys)}}selected="true" {{/if}}>请选择类别</option>
                        {{foreach $sys_levels as $l=>$desc}}
                        <option value="{{$l}}" {{if !empty($customer.level_for_sys)&&$customer.level_for_sys== $l}}selected="true" {{/if}}>{{$desc}}</option>
                        {{/foreach}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">销售专员：</label>
                <div class="col-sm-3">
                    <select class="form-control" name="sales_suid">
                        <option value="0" {{if empty($customer.sales_suid)}} selected="true" {{/if}}>请选择销售专员</option>
                        {{foreach $sales_list as $sales}}
                        <option value="{{$sales.suid}}" {{if !empty($customer.sales_suid)&&$customer.sales_suid== $sales.suid}} selected="true" {{/if}}>{{$sales.name}}</option>
                        {{/foreach}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">税点：</label>
                <div class="col-sm-3">
                    <input class="form-control" name="tax_point" value="{{$customer.tax_point|default:0}}">
                </div>
                <div class="col-sm-3">
                    <span class="text-value" style="font-size:14px; margin-left: -20px; color:red;">【0: 不含税；8: 8个点税】</span>
                </div>
            </div>
        </div>
