<table class="table-striped">
    <tr>
        <th style="width: 80px;">SUID</th>
        <th style="width: 100px;">销售</th>
        <th>流入时间</th>
        <th style="width: 160px;">流出时间</th>
    </tr>
    {{if !empty($sale_list)}}
    {{$time=''}}
    {{foreach $sale_list as $item}}
    <tr>
        <td>{{$item.edit_suid}}</td>
        <td>{{if $item.edit_suid!=999}}{{$item.edit_suid_name}}{{else}}<span style="color: red;">公海</span>{{/if}}</td>
        <td>{{$item.ctime}}</td>
        <td>{{$time}}</td>
    </tr>
    {{$time=$item.ctime}}
    {{/foreach}}
    {{else}}
    <tr><td colspan="4">暂无流转记录</td></tr>
    {{/if}}
</table>
<nav>
    <ul class="pagination">
        {{$pageHtml nofilter}}
        <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
    </ul>
</nav>