<div class="area-bottom">
  <div class="form-group">
    <label class="col-sm-2 control-label">联系人：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="user_name" value="{{$user.name}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">联系人手机：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="mobile" value="{{$user.mobile}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">籍贯：</label>
    <div class="col-sm-3">
      <select class="form-control" name="hometown">
          <option value="" {{if empty($user.hometown)}}selected="true"{{/if}}>请选择</option>
          {{foreach $province as $pname}}
          <option value="{{$pname}}" {{if $user.hometown==$pname}}selected="true"{{/if}}>{{$pname}}</option>
          {{/foreach}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">QQ号码：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="qq" value="{{$user.qq}}">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">微信账号：</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="weixin" value="{{$user.weixin}}">
    </div>
  </div>
</div>