<table class="table">
    <thead>
    <tr>
        <th>pid</th>
        <th>sid</th>
        <th>名称</th>
        <th>数量</th>
        <th>单位</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    {{foreach $order_products as $pinfo}}
    <tr class="_j_product">
        <td>{{$pinfo.pid}}</td>
        <td>{{$pinfo.sid}}</td>
        <td>{{$pinfo._sku_info.title}}</td>
        <td>{{$pinfo._sku_info.unit|default: '个'}}</td>
        <td>{{$pinfo.num}}</td>
        <td><span style="{{if $pinfo._sku_info.sku_st!=0}}color:red;{{/if}}">{{$pinfo._sku_info.sku_st_desc}}</span></td>
    </tr>
    {{/foreach}}
    </tbody>
</table>

{{if !$chk_ret}}
<div>
    <p style="color:blue;font-size:18px;">如果确认切换城市，状态为<span style="color:red; font-size:24px;">红色</span>商品会被删除！</p>
</div>
{{/if}}