
<div style="display: none;" id="city-json">
    {{$city}}
</div>
<div style="display: none;" id="distinct-json">
    {{$distinct}}
</div>
<div style="display: none;" id="area-json">
  {{$area}}
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	
	<h1 class="page-header">
        小区管理
    {{if !empty($_permissions['/order/ajax/edit_community'])}}    
    <div style="float:right;">
      <a class="btn btn-primary" data-toggle="modal" id="show_add_new_community">添加小区</a>
    </div>
    {{/if}}
  </h1>
	
	<form class="form-inline" role="form" action="/order/delivery_community.php">
    <input class="form-control" type="hidden" name="search_mode" value="1" >
		<div class="placeholder">
			<div class="form-group" style="margin-right:20px;">
				<label>名称/地址：</label>
				<input style="width:150px;" class="form-control" type="text" name="full_keyword" value="{{$search.full_keyword}}" >
			</div>
      <div class="form-group" style="margin-right:20px;">
        <label>ID：</label>
        <input style="width:80px;" class="form-control" type="text" name="cmid" value="{{$search.cmid}}" >
      </div>
      <div class="form-group" style="margin-right:20px;">
          <label>城市：</label>
          <select style="width: 100px;" id="select-city" class="form-control" name="city_id" data-id="{{$search.city_id}}">
          </select>
      </div>
      <div class="form-group" id="district" style="margin-right:15px;">
          <select style="width: 80px;" id="select-district" class="form-control" name="district_id" data-id="{{$search.district_id}}">
          </select>
      </div>
      <div class="form-group" id="area" data-mustall="1" style="display:none;margin-right:15px;">
          <select id="select-area" class="form-control" name="ring_road" data-id="{{$search.ring_road}}">
          </select>
      </div>
      <div class="form-group" style="margin-right:20px;">
        <select class="form-control" name="ring_road_status">
          <option value="">所有</option>
          <option value="yes" {{if $search.ring_road_status=="yes"}}selected="selected"{{/if}}>有环线</option>
          <option value="no" {{if $search.ring_road_status=="no"}}selected="selected"{{/if}}>无环线</option>
        </select>
      </div>
      <div class="form-group" style="margin-right:20px;">
        <select class="form-control" name="source">
          <option value="">所有来源</option>
          <option value="import" {{if $search.source=="import"}}selected="selected"{{/if}}>数据导入</option>
          <option value="cs" {{if $search.source=="cs"}}selected="selected"{{/if}}>客服添加</option>
        </select>
      </div>
      <div class="form-group" style="margin-right:20px;">
        <select class="form-control" name="has_order">
          <option value="">所有小区</option>
          <option value="1" {{if $search.has_order}}selected="selected"{{/if}}>有订单的</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" id="btn_search" style="margin-right: 15px;">查询</button>
		</div>
	</form>

  <nav class="nav navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav"  id="navbar" name="{{$search.status}}">
          <li {{if -1==$search.status}}class="active"{{/if}}>
            <a href="?full_keyword={{$search.full_keyword}}&cmid={{$search.cmid}}&city_id={{$search.city_id}}&district_id={{$search.district_id}}&ring_road={{$search.ring_road}}&status=-1&source={{$search.source}}&ring_road_status={{$search.ring_road_status}}&has_order={{$search.has_order}}" style="padding-right: 30px;padding-left: 30px;">
              全部
            </a>
          </li>
          <li {{if 0==$search.status}}class="active"{{/if}}>
            <a href="?full_keyword={{$search.full_keyword}}&cmid={{$search.cmid}}&city_id={{$search.city_id}}&district_id={{$search.district_id}}&ring_road={{$search.ring_road}}&status=0&source={{$search.source}}&ring_road_status={{$search.ring_road_status}}&has_order={{$search.has_order}}" style="padding-right: 30px;padding-left: 30px;">
              正常
            </a>
          </li>
          <li {{if 5==$search.status}}class="active"{{/if}}>
            <a href="?full_keyword={{$search.full_keyword}}&cmid={{$search.cmid}}&city_id={{$search.city_id}}&district_id={{$search.district_id}}&ring_road={{$search.ring_road}}&status=5&source={{$search.source}}&ring_road_status={{$search.ring_road_status}}&has_order={{$search.has_order}}" style="padding-right: 30px;padding-left: 30px;">
              未审核
            </a>
          </li>
          <li {{if 1==$search.status}}class="active"{{/if}}>
            <a href="?full_keyword={{$search.full_keyword}}&cmid={{$search.cmid}}&city_id={{$search.city_id}}&district_id={{$search.district_id}}&ring_road={{$search.ring_road}}&status=1&source={{$search.source}}&ring_road_status={{$search.ring_road_status}}&has_order={{$search.has_order}}" style="padding-right: 30px;padding-left: 30px;">
              已删除
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <hr>
	
    <table class="table">
        <thead>
            <tr>
              <th>cmid</th>
              <th style="width:15%;">小区名称</th>
              <th style="width:23%;">地址</th>
              <th>房屋类型</th>
              <th>经纬度</th>
              <th>状态</th>
              <th style="width:10%;">录入信息</th>
              <th>操作</th>
            </tr>
		</thead>
		<tbody>
            {{foreach $community_list as $one}}
            <tr class="community_dialog" data-cmid="{{$one.cmid}}" data-zone="{{$one.city_id}}:{{$one.district_id}}:{{$one.ring_road}}" data-pos="{{$one.lng}}:{{$one.lat}}" data-status="{{$one.status}}">
                <td>{{$one.cmid}}</td>
                <td>
                    <span class="name">{{$one.name}}</span><br>
                    {{if $one.alias}}<span style="color:gray;">[别名]</span><span style="color:gray;" class="alias">{{$one.alias}}</span><br>{{/if}}
                    <span style="color:gray;">{{$one.pinyin_name}}</span>
                </td>
                <td>
                    <span class="address">{{$one.address}}</span><br><br>
                    <span style="color:gray;">
                        {{$one.city}} -- {{$one.district}}
                        {{if !empty($one.area)}}-- {{$one.area}}{{/if}}
                        {{if !empty($one._ring_road)}}-- {{$one._ring_road}}{{/if}}
                    </span>
                </td>
                <td>
                    {{if !empty($one.house_type)}}[房屋类型] {{$one.house_type}}{{/if}}<br>
                    {{if !empty($one.building_type)}}[房屋类型] {{$one.building_type}}{{/if}}<br>
                    {{if !empty($one.build_size)}}[总面积] {{$one.build_size}}平方米{{/if}}
                </td>
                <td>
                    [经] {{$one.lng}}<br>
                    [纬] {{$one.lat}}
                </td>
                <td>{{if $one.status==0}}正常{{elseif $one.status==5}}未审核{{elseif $one.status==1}}已删除{{else}}未知{{/if}}</td>
                <td>
                    [录] {{if isset($one._suid)}}{{$one._suid.name}}{{else}} -- {{/if}}<br>
                    [修] {{if isset($one._edit_suid)}}{{$one._edit_suid.name}}{{else}} -- {{/if}}<br>
                    {{$one.ctime}}
                </td>
                <td>
                  {{if !empty($_permissions['/order/ajax/edit_community'])}}
                  <a href="javascript:;" class="edit_communtiy" style="margin-right:10px;">{{if $one.status==5}}审核{{else}}编辑{{/if}}</a><br/>
                  {{/if}}
                  {{if !empty($_permissions['/order/ajax/merge_community'])}}
                  <a href="javascript:;" class="merge_communtiy" style="margin-right:10px;">合并</a><br/>
                  {{/if}}
                    {{if !empty($_permissions['order_check_community_orders'])}}
                    <a href="/order/order_list.php?community_id={{$one.cmid}}&hide_conf=1" target="_blank" style="margin-right:10px;">订单({{$one._order_num}})</a><br/>
                    {{/if}}
                </td>
            </tr>
			{{/foreach}}
		</tbody>
	</table>
	
	<nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
		</ul>
	</nav>
</div>

<form class="form-horizontal">
{{include "order/block_add_community.html"}}
</form>

<div class="modal fade" id="merge_community" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">合并小区</h4>
      </div>
      <div class="modal-body row">
        <div style="margin:15px 0px 0px 20px;">
          <form class="form-inline" role="form" action="">
            <div class="placeholder">
              <div class="form-group" style="margin-left:20px;">
                <label>当前的小区：</label>
                <input type="hidden" name="cm_cmid" value="" >
                <span class="_j_current_community"></span>
              </div>
            </div>
            <div class="placeholder">
              <div class="form-group" style="margin-left:20px;">
                <label>合并到小区：</label>
                <input type="text" style="width: 100px;" class="form-control" name="cm_to_cmid"/>
                <span style="color:gray;margin-left: 10px;">(请填写小区ID)</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="_j_btn_merge_community">确认合并</button>
      </div>
    </div>
  </div>
</div>

