<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">{{if $traps}}编辑{{else}}新建{{/if}}补漏单</h1>

	<form class="form-horizontal" role="form">
		<input type="hidden" class="form-control" id="tid" value="{{$traps.info.tid}}">

		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>订单ID：</label>

			<div class="col-sm-4">
				<input type="text" class="form-control" id="oid" value="{{if $order.oid}}{{$order.oid}}{{/if}}" readonly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>联系人：</label>

			<div class="col-sm-4">
				<input type="text" class="form-control" name="contact_name" value="{{if $order.contact_name}}{{$order.contact_name}}{{else}}{{$customer.contact_name}}{{/if}}" readonly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>联系电话：</label>

			<div class="col-sm-4">
				<input type="text" class="form-control" name="contact_phone" value="{{if $order.contact_phone}}{{$order.contact_phone}}{{else}}{{$customer.mobile}}{{/if}}" readonly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>工地地址：</label>

			<div class="col-sm-8">
				<input type="text" class="form-control" name="address" value="{{$order.address}}" readonly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>送货日期：</label>

			<div class="col-sm-2">
				<input type="text" class="form-control" name="delivery_date" value="{{if $order.delivery_date}}{{$order.delivery_date}}{{else}}{{$smarty.now|date_format:'%Y-%m-%d'}}{{/if}}" readonly="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>仓库：</label>

			<div class="col-sm-2">
				<select class="form-control" id="wid" disabled="true">
					{{foreach $warehouse_list as $_wid=>$_wname}}
					<option value="{{$_wid}}" {{if $curr_wid==$_wid}} selected="selected" {{/if}}>{{$_wname}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>补漏类型：</label>

			<div class="col-sm-2">
				<select class="form-control" id="type" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}} data-type="{{$traps.info.m_type}}">
                    <option value="0">请选择</option>
					{{foreach $traps_types as $type=>$name}}
					<option value="{{$type}}" {{if $traps.info.m_type==$type}} selected="selected" {{/if}}>{{$name}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>

        <div class="form-group" id="select_delivery"  {{if $traps.info.m_type!=1}}style="display: none;"{{/if}}>
            <label class="col-sm-2 control-label"><i style="color: red;">*</i>补漏时间：</label>
            <div class="col-sm-3">
                <input id="select_delivery_date" type="date" class="form-control" name="delivery_date" value="{{$traps.info.traps_date}}" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}}>
            </div>
            <div class="col-sm-2">
                <select id="select_delivery_time" class="form-control" name="delivery_time" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}}>
                    <option value="0">请选择</option>
                    {{foreach $delivery_time as $hour}}
                    <option value="{{$hour}}" {{if $traps.info.traps_date_start==$hour}}selected="selected"{{/if}}>{{$hour}}</option>
                    {{/foreach}}
                </select>
            </div>
            <div class="col-sm-2">
                <select id="select_delivery_time_end" class="form-control" name="delivery_time_end" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}}>
                    <option value="0">请选择</option>
                    {{foreach $delivery_time as $hour}}
                    <option value="{{$hour}}" {{if $traps.info.traps_date_end==$hour}}selected="selected"{{/if}}>{{$hour}}</option>
                    {{/foreach}}
                </select>
            </div>
        </div>

		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>状态：</label>

			<div class="col-sm-8">
				<select class="form-control" name="order_step" style="display:inline-block;width:150px;" disabled="true">
					{{foreach $traps_steps as $step_id => $step_name}}
					<option value="{{$step_id}}" {{if $traps.info.step== $step_id}}selected="selected" {{/if}}>{{$step_name}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>制单人：</label>

			<div class="col-sm-4">
				<input type="text" class="form-control" name="suid" value="{{if $traps.info.suid_info.name}}{{$traps.info.suid_info.name}}{{else}}{{$_user.name}}{{/if}}" readonly="true">
			</div>
		</div>
        
		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>补漏原因：</label>
			<div class="col-sm-8">
				<div style="float: left;">
					<select class="form-control" id="reason_type" style="display:inline-block;width:150px;" {{if $traps.info.step > 1}}disabled="true"{{/if}}>
						<option value="0" {{if $traps.info.reason_id == 0}}selected="selected" {{/if}}>-请选择-</option>
						{{foreach $traps_reason_types as $rid => $reason}}
						<option value="{{$rid}}" {{if $traps.info.reason_id == $rid}}selected="selected" {{/if}}>{{$reason}}</option>
						{{/foreach}}
					</select>
				</div>
				<div style="float: left;">
					<select class="form-control" id="reason_detail" data-reason="{{$traps.info.reason_second_id}}" data-reason-detail="{{$traps_reason_detail}}" style="display:inline-block;width:150px;margin-left: 30px;" {{if $traps.info.step > 1}}disabled="true"{{/if}}>
						<option value="0" {{if $traps.info.reason_detail == 0}}selected="selected" {{/if}}>-请选择-</option>
					</select>
					&emsp;<span id="reason_detail_desc" style="color: red;"></span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label"><i style="color: red;">*</i>需要出库：</label>

			<div class="col-sm-2">
				<select class="form-control" id="need_storage" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}} data-type="{{$traps.info.need_storage}}">
					<option value="1" {{if $traps.info.need_storage==1}} selected="selected" {{/if}}>是</option>
					<option value="0" {{if $traps.info.need_storage==0}} selected="selected" {{/if}}>否</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">搬运费：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="carry_fee" name="carry_fee" value="{{$traps.info.carry_fee/100}}" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}} style="width:100px;display:inline-block;">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">运费：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="freight" name="freight" value="{{$traps.info.freight/100}}" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}} style="width:100px;display:inline-block;">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">优惠：</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="privilege" name="privilege" value="{{$traps.info.privilege/100}}" {{if isset($traps.info) && $traps.info.step>=2}} disabled="true"{{/if}} style="width:100px;display:inline-block;">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">补充说明：</label>
			<div class="col-sm-8">
				<textarea class="form-control" rows="2" name="note" id="note" {{if $traps.info.step > 1}}disabled="true"{{/if}}>{{$traps.info.note nofilter}}</textarea>
			</div>
		</div>

		<div style="margin-top: 30px;" class="form-group">
			<label class="col-sm-2 control-label">补漏清单：</label>

			<div class="col-sm-10">
				<table class="table table-bordered">
					<thead>
					<tr>
						<th>商品ID</th>
						<th>商品名</th>
						<th>类别</th>
						<th>单价</th>
						<th>原数量</th>
						<th>补漏数量</th>
					</tr>
					</thead>
					<tbody id="traps_products" data-products="{{$order_products}}">
					</tbody>
					<tbody id="virtual_products" {{if !empty($traps) && $traps.info.reason_id==4 && $traps.info.reason_second_id==1}}{{else}}style="display:none;"{{/if}}>
					{{foreach $rel_info as $productItem}}
					<tr class="_j_product" data-pid="{{$productItem.pid}}">
						<td>
							Pid: {{$productItem.pid}}<br/>
							<span style="color:grey;">SkuId: {{$productItem.sid}}</span>
						</td>
						<td>
							<a href="/shop/edit_product.php?pid={{$productItem.pid}}" target="_blank">{{$productItem.sku.title}}</a>
						</td>
						<td>
							{{$cate1_list[$productItem.sku.cate1]['name']}} - {{$cate2_list_all[$productItem.sku.cate1][$productItem.sku.cate2]['name']}}
						</td>
						<td>
							{{$productItem.price / 100}}元<input type="hidden" name="price" value="{{$productItem.price}}">
						</td>
						<td></td>
						<td>
							{{if isset($traps.info) && $traps.info.step>=2}}
							{{$productItem.num}}
							{{else}}
							<input style="width: 80px; text-align: center;" name="traps_num" type="text" class="form-control" value="{{$productItem.num}}" />
							{{/if}}

						</td>
					</tr>
					{{/foreach}}
					</tbody>
				</table>
				{{if empty($traps) || $traps['info']['step']<2}}
				<a style="cursor: pointer;" id="add_product" data-toggle="modal" data-target="#dlgAddProduct">+添加商品</a>
				{{/if}}
			</div>
		</div>

        {{if $traps.info.step==1}}
        <div class="form-group">
            <h3 style="text-align:center;color:red;">如果修改了补漏单信息，请先【保存】，然后在【审核通过】！！！</h3>
        </div>
        {{/if}}
		{{if $traps.info.step > 1}}
		<div class="form-group" style="color:red;">
			<label class="col-sm-2 control-label">备注：</label>
			<div class="col-sm-8">
				补单{{$traps.info.aftersale_oid}}({{$traps._aftersale_step}})
			</div>
		</div>
		{{/if}}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				{{if empty($traps) || ($traps['info']['traps_status']==0 && $traps['info']['step']<2) && !empty($_permissions['/order/edit_traps'])}}
				<button type="button" class="btn btn-default" id="_j_btn_save_traps" style="margin-right:20px;">保存</button>
				{{/if}}
				{{if $traps['info']['oid']>0 && !empty($_permissions['/order/order_detail'])}}
				<a href="/order/order_detail.php?oid={{$traps.info.oid}}" target="_blank" class="btn btn-default" style="margin-right:20px;">查看订单</a>
				{{/if}}
                {{if $traps['info']['aftersale_oid']>0 && !empty($_permissions['/order/order_detail'])}}
                <a href="/order/order_detail.php?oid={{$traps.info.aftersale_oid}}" target="_blank" class="btn btn-default" style="margin-right:20px;">查看补漏订单</a>
                {{/if}}
				{{if $traps && $traps['info']['traps_status']==0 && !empty($_permissions['/order/ajax/change_traps'])}}
                    {{$op_button_html nofilter}}
                    {{if $traps['info']['step']<2}}
                    <button type="button" class="btn btn-danger" id="_j_btn_delete_traps" style="margin-right:20px;">删除</button>
                    {{/if}}
				{{/if}}
				{{if $traps['info']['step'] > 1 && $traps['order_step']<5 && !empty($_permissions['/order/ajax/change_traps'])}}
				<button type="button" class="btn btn-danger" id="_j_btn_delete_traps" style="margin-right:20px;">删除</button>
				{{/if}}
			</div>
		</div>
	</form>
</div>
<!-- Modal -->
<div class="modal fade" id="dlgAddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-oid="{{$order.oid}}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="product_list_container">
                {{include "order/dlg_product_list.html"}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="_j_btn_save_products" data-oid="{{$order.oid}}">确认选择</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	{{if empty($traps) || ($traps && $traps['info']['step']<2)}}
	var change_traps_status = true;
	{{else}}
	var change_traps_status = false;
	{{/if}}
</script>