<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">商品销售汇总</h1>

  <form class="form-inline" role="form" action="/warehouse/sale_product_summary.php">
    <div class="placeholder">
		<div class="form-group" style="margin-right:20px;">
		  <label>日期：</label>
		  <input value="{{$bdate}}" name="bdate" type="text">
		  <span> -- </span>
		  <input value="{{$edate}}" name="edate" type="text">
		  <span style="color:#C5BDBD;">日期格式(YYYY-MM-DD)</span>
		</div>
	</div>
	<div class="placeholder">
		<div class="form-group" style="margin-right:20px;">
			<label>状态：</label>
			<select class="form-control" name="btype" style="margin-right:50px;">
				<option value=0 {{if $btype==0}}selected="selected"{{/if}}>全部</option>
				<option value=1 {{if $btype==1}}selected="selected"{{/if}}>实采</option>
				<option value=2 {{if $btype==2}}selected="selected"{{/if}}>空采</option>
			</select>
		</div>
		<div class="form-group" style="margin-right: 20px;">
			<label>商品类型：</label>
			<select class="form-control" name="product_search_cate" style="margin-right: 50px;">
				<option value="0" {{if $pSearchCate==0}} selected="selected" {{/if}}>全部</option>
				<option value="1" {{if $pSearchCate==1}} selected="selected" {{/if}}>沙子-水泥-砖</option>
				<option value="2" {{if $pSearchCate==2}} selected="selected" {{/if}}>其他</option>
			</select>
		</div>
		{{if count($_allowed_warehouses) > 1}}
		<div class="form-group" style="margin-right:50px;">
			<label>仓库：</label>
			{{if $_user.wid}}
			<select class="form-control" name="wid" disabled="true">
				<option value="{{$_user.wid}}" selected="selected">{{$_warehouseList[$_user.wid]}}</option>
			</select>
			{{else}}
			<select class="form-control" name="wid">
				<option value="0" {{if !$searchConf.wid}} selected="selected"{{/if}}>全部</option>
				{{foreach $_allowed_warehouses as $_wid=>$_wname}}
				<option value="{{$_wid}}" {{if $wid==$_wid}} selected="selected"{{/if}}>{{$_wname}}</option>
				{{/foreach}}
			</select>
			{{/if}}
		</div>
		{{/if}}
		<div class="form-group">
			<button type="submit" class="btn btn-primary" id="btn_search">查询</button>			
		</div>
	</div>
  </form>

  <hr>

  <table class="table">
    <thead>
    <tr>
	  <th>商品sku_id</th>
      <th>商品名称</th>
	  <th>单位</th>
      <th style="width:20%;">实采/空采/订单</th>
      <th>成本价</th>
      <th>售价</th>
      <th>毛利</th>
    </tr>
    </thead>

    {{if !empty($pdatas)}}
    <tbody>
    {{foreach $pdatas as $info}}
    <tr>
	  <td>{{$info.pid}}</td>
      <td>{{$info.title}}</td>
	  <td>{{$info.unit}}</td>
      <td>
        <span>  {{$info.total_num-$info.total_vnum}}  </span>/
        <span style="color:red;">  {{$info.total_vnum}}  </span>/
        <span>  {{$info.total_order}}  </span>
      </td>
      <td>￥{{$info.cost/100}}</td>
      <td>￥{{$info.price/100}}</td>
      <td>￥{{($info.price/100-$info.cost/100)|string_format:"%.2f"}}</td>
    </tr>
    {{/foreach}}
    </tbody>
  </table>

  {{else}}
  </table>
  <div>
    <span style="color:red;">’{{$bdate}}’ -- ’{{$edate}}‘</span> 没有对应商品!!
  </div>
  {{/if}}
  
  <nav>
    <ul class="pagination">
      {{$pageHtml nofilter}}
      <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
    </ul>
  </nav>

</div>
