<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">补漏单列表</h1>

	<form class="form-inline" role="form" action="/aftersale/traps_list.php">
		<div class="placeholder">
			<div class="form-group" style="margin-right:20px;">
				<label>补漏日期：</label>
                <input type="date" class="form-control" name="traps_date" value="{{$searchConf.traps_date}}" style="width: 160px;">&emsp;to&emsp;
                <input type="date" class="form-control" name="traps_date_end" value="{{$searchConf.traps_date_end}}" style="width: 160px;">
			</div>
		</div>
        <div class="placeholder">
            <div class="form-group" style="margin-right:20px;">
                <label>补漏单ID：</label>
                <input style="width: 100px;" type="text" class="form-control" name="tid" value="{{$searchConf.tid}}">
            </div>
            <!--<div class="form-group" style="margin-right:20px;">-->
                <!--<label>城市：</label>-->
                <!--<select class="form-control" name="city_id">-->
                    <!--<option value="0" {{if !$searchConf.city_id}} selected="selected" {{/if}}>全部</option>-->
                    <!--{{foreach $city_list as $_cityId => $_cityName}}-->
                    <!--<option value="{{$_cityId}}" {{if $searchConf.city_id==$_cityId}} selected="selected" {{/if}}>{{$_cityName}}</option>-->
                    <!--{{/foreach}}-->
                <!--</select>-->
            <!--</div>-->
            {{if !$_user.wid}}
            <div class="form-group" style="margin-right:50px;">
                <label>仓库：</label>
                <select class="form-control" name="wid">
                    <option value="0" {{if !$searchConf.wid}} selected="selected" {{/if}}>全部</option>
                    {{foreach $_warehouseList as $_wid=>$_wname}}
                    <option value="{{$_wid}}" {{if $searchConf.wid==$_wid}} selected="selected" {{/if}}>{{$_wname}}</option>
                    {{/foreach}}
                </select>
            </div>
            {{/if}}
        </div>
		<div class="placeholder">
			<div class="form-group" style="margin-right:50px;">
				<label>客户id：</label>
				<input style="width: 100px;" type="text" class="form-control" name="cid" value="{{$searchConf.cid}}">
			</div>
			<div class="form-group">
				<label>客户手机：</label>
				<input type="text" class="form-control" name="mobile" value="{{$mobile}}" style="width: 120px; margin-right: 20px;">
			</div>
			<div class="form-group" style="margin-right:50px;">
				<label>订单ID：</label>
				<input style="width: 100px;" type="text" class="form-control" name="oid" value="{{$searchConf.oid}}">
			</div>
			<button type="submit" class="btn btn-primary" id="btn_search">查询</button>
		</div>
	</form>
    <div style="border-bottom: 1px inset #DDDDDD; clear: both; position: relative; height:25px;margin-bottom: 20px;">
        <a href="{{$step_url}}&step=0"><span {{if empty($searchConf.step) || $searchConf.step==0}} style="margin: 5px 20px; padding: 5px 20px; border-top: 5px inset #337AB7; border-left: 1px inset #DDDDDD; border-right: 1px inset #DDDDDD;" {{else}} style="margin: 5px 20px;" {{/if}}>全部</span></a>
        {{foreach $traps_steps as $key=>$item}}
        <a href="{{$step_url}}&step={{$key}}"><span {{if $searchConf.step==$key}} style="margin: 5px 20px; padding: 5px 20px; border-top: 5px inset #337AB7; border-left: 1px inset #DDDDDD; border-right: 1px inset #DDDDDD;" {{else}} style="margin: 5px 20px;" {{/if}}>{{$item}}</span></a>
        {{/foreach}}
    </div>

	<table class="table">
		<thead>
		<tr>
			<th>id</th>
			<th>订单id</th>
			<th>金额</th>
			<th style="width: 30%;">信息</th>
            <th>补漏时间</th>
            <th>关联信息</th>
			<th>状态</th>
			<th>操作人</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		{{foreach $traps_list as $traps}}
		<tr data-rid="{{$traps.tid}}">
			<td>
				<a href="/order/edit_traps.php?tid={{$traps.tid}}">{{$traps.tid}}</a>
			</td>
			<td>
				<a href="/order/order_detail.php?oid={{$traps.oid}}" target="_blank">{{$traps.oid}}</a><br/>
			</td>
			<td>
				[原]￥{{$traps._order.price/100}}<br />
			</td>
			<td>
				[客]<a href="/aftersale/traps_list.php?cid={{$traps.cid}}">{{$traps._customer.name}}</a><br/>
				{{if !empty($traps._customer.contact_name)}}
				[联]<span style="color:gray;">联系人:{{$traps._customer.contact_name}}</span><br />
				{{/if}}
				[址]{{$traps._order.address}}<br/>
				[库]{{$_warehouseList[$traps.wid]}}
			</td>
			<td>
                {{if $traps.m_type == 1}}
                <span style="color:gray;">[始]{{$traps.traps_time}}<br>[终]{{$traps.traps_time_end}}</span>
                {{else}}
                随单换货
                {{/if}}
            </td>
            <td>
                {{if $traps.aftersale_oid>0}}
                [补单]<a href="/order/order_detail.php?oid={{$traps.aftersale_oid}}" target="_blank">{{$traps.aftersale_oid}}</a><br/>
                {{/if}}
            </td>
            <td>
                {{$traps_steps[$traps.step]}}
            </td>
			<td>
				{{if $traps.suid}}<span style="color:gray;">制单:{{$traps.suid_info.name}}<br>{{$traps.ctime}}</span>{{/if}} {{if $traps.audit_suid}}<br/><span style="color:gray;">审核:{{$traps.audit_suid_info.name}}</span>{{/if}}
			</td>
			<td>
                {{if !empty($_permissions['/order/edit_traps'])}}
				<a href="/order/edit_traps.php?tid={{$traps.tid}}">编辑</a><br>
                {{/if}}
                {{if !empty($_permissions['/order/order_detail'])}}
                <a href="/order/order_detail.php?oid={{$traps.oid}}" target="_blank">订单</a><br>
                {{/if}}
			</td>
		</tr>
		{{/foreach}}
		</tbody>
	</table>

	<nav>
		<ul class="pagination">
			{{$pageHtml nofilter}}
			<li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
		</ul>
	</nav>

</div>
