<div id="order_select_product_list">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">
      选择商品
      <div style="float:right;font-size:16px;margin-right:15px;">
        <div class="form-inline _j_form">
          <div class="form-group" style="margin-right:10px;">
            <input type="text" class="form-control" name="keyword" value="{{$keyword}}">
          </div>
          <button type="button" class="btn btn-primary _j_shift_search_product">搜索</button>
        </div>
      </div>
    </h4>
  </div>
  <div class="modal-body">
    {{if empty($keyword)}}
    <form class="form-horizontal" role="form" action="" data-cate1="{{$search_conf.cate1}}" data-cate2="{{$search_conf.cate2}}">
      <div class="placeholder">
        <div class="form-group">
          <label class="col-sm-1 control-label">大类：</label>

          <div class="col-sm-10">
            <ul class="nav nav-pills">
              {{foreach $cate1_list as $id => $item}}
              <li {{if $search_conf.cate1 == $id}}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$id}}">{{$item.name}}</a>
							</li>
              {{/foreach}}
            </ul>
          </div>
        </div>
      </div>
      <div class="placeholder">
        <div class="form-group">
          <label class="col-sm-1 control-label">小类：</label>

          <div class="col-sm-10">
            <ul class="nav nav-pills">
              {{foreach $cate2_list as $id => $item}}
              <li {{if $search_conf.cate2 == $id}}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$search_conf.cate1}}&cate2={{$id}}">{{$item.name}}</a>
							</li>
              {{/foreach}}
            </ul>
          </div>
        </div>
      </div>
      <div class="placeholder" {{if empty($cate3_list)}}style="display:none;"{{/if}}>
				<div class="form-group">
					<label class="col-sm-1 control-label">细类：</label>

					<div class="col-sm-10">
						<ul class="nav nav-pills">
							{{foreach $cate3_list as $id => $item}}
							<li {{if $search_conf.cate3 == $id}}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$search_conf.cate1}}&cate2={{$search_conf.cate2}}&cate3={{$id}}">{{$item.name}}</a>
							</li>
							{{/foreach}}
						</ul>
					</div>
				</div>
			</div>
			<div class="placeholder">
				<div class="form-group">
					<label class="col-sm-1 control-label">品牌：</label>

					<div class="col-sm-10">
						<ul class="nav nav-pills">
							<li {{if empty($search_conf.bid) }}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$search_conf.cate1}}&cate2={{$search_conf.cate2}}&cate3={{$search_conf.cate3}}&mid={{$search_conf.mid}}">全部</a>
							</li>
							{{foreach $brands as $brand}}
							<li {{if $brand.bid == $search_conf.bid }}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$search_conf.cate1}}&cate2={{$search_conf.cate2}}&cate3={{$search_conf.cate3}}&bid={{$brand.bid}}&mid={{$search_conf.mid}}">{{$brand.name}}</a>
							</li>
							{{/foreach}}
						</ul>
					</div>
				</div>
			</div>
			<div class="placeholder">
				<div class="form-group">
					<label class="col-sm-1 control-label">型号：</label>

					<div class="col-sm-10">
						<ul class="nav nav-pills">
							<li {{if empty($search_conf.mid) }}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$search_conf.cate1}}&cate2={{$search_conf.cate2}}&cate3={{$search_conf.cate3}}&bid={{$search_conf.bid}}">全部</a>
							</li>
							{{foreach $models as $model}}
							<li {{if $model.mid == $search_conf.mid }}class="active"{{/if}}>
									<a class="_j_select_product_cate" href="javascript:;" data-href="cate1={{$search_conf.cate1}}&cate2={{$search_conf.cate2}}&cate3={{$search_conf.cate3}}&mid={{$model.mid}}&bid={{$search_conf.bid}}">{{$model.name}}</a>
							</li>
							{{/foreach}}
						</ul>
					</div>
				</div>
			</div>
		</form>
		<hr>
		{{/if}}

		{{if empty($search_products)}}
		暂无商品
		{{else}}
		<table class="table">
			<thead>
			<tr>
				<th>商品编号</th>
				<th>图片</th>
				<th>商品信息</th>
				<th style="width:10%;">库存/占用</th>
				<th>可转移量</th>
				<th>转移量</th>
			</tr>
			</thead>
			<tbody>
			{{foreach $search_products as $product}}
			<tr class="_j_product_item" data-sid="{{$product.sid}}">
				<td>{{$product.sid}}</td>
				<td><img width="200" src="{{if $product._pic}}{{$product._pic.middle}}{{else}}/i/nopic100.jpg{{/if}}""></td>
				<td>
					{{$product.title}}<br/>
					{{$product.package}}<br/>
				</td>
				<td class="col-sm-1">{{$product._stock.num}}/{{$product._stock.occupied}}</td>
				<td class="col-sm-1">
				{{if $product._stock.num-$product._stock.occupied>0}}
					{{$product._stock.num-$product._stock.occupied}}
				{{else}}
					<span style="color:red;">无库存</span>
				{{/if}}
				</td>
				<td>
					<input type="text" class="form-control" name="num" data-rest="{{$product._stock.num-$product._stock.occupied}}" value="{{if !empty($order_products[$product.sid])}}{{$order_products[$product.sid].num}}{{else}}0{{/if}}">
				</td>
			</tr>
			{{/foreach}}
			</tbody>
		</table>
		{{/if}}
	</div>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    {{if $type == 'other_stock_out_order'}}
	<button type="button" class="btn btn-primary" id="_j_btn_add_other_stock_out_products">确认选择</button>
    {{else}}
	<button type="button" class="btn btn-primary" id="_j_btn_save_products">确认选择</button>
    {{/if}}
</div>
				