<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">采购订单详情</h1>

	<form class="form-horizontal _j_in_order_form" role="form">
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">采购类型：</label>
			<div class="col-md-4">
				<span>{{$in_order_types[$order.info.in_order_type]}}</span>
                <span> - </span>
                <span style="color:red; font-size:18px;">{{$managing_modes[$order.info.managing_mode]}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">供应商：</label>
			<div class="col-md-4">
				<span>{{$order.supplier.name}}（商户ID：{{$order.supplier.sid}}）</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">联系方式：</label>
			<div class="col-md-4">
				<span>{{$order.supplier.contact_name}} -- {{$order.supplier.phone}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">经营范围：</label>
			<div class="col-md-4">
				<span>{{$order.supplier.note}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">送货日期：</label>
			<div class="col-md-4">
				<span>{{$order.info.delivery_date}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">订单状态：</label>
			<div class="col-md-4">
				<span style="color:red;font-size: 20px;">{{$order.info._step}}</span>
                {{if $order.info.source==2}}<span style="color:blue;font-size: 20px; margin-left:10px;">临采采购单</span>
				{{elseif $order.info.source == 3}}<span style="color: blue; font-weight: bold; margin-left: 10px;">综合采购单</span>
				{{elseif $order.info.source == 4}}<span style="color: red; font-weight: bold; margin-left: 10px;">外包临采单</span>
				{{/if}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">付款方式：</label>
			<div class="col-md-4">
				<span style="font-weight:bold;font-size: 16px;">{{$payment_types[$order.info.payment_type]}}</span>
				{{if 3==$order.info.payment_type}}
				<span style="margin-left: 10px; color:red;">{{if $order.info.paid==1}}【已支付】{{else}}【未支付】{{/if}}</span>
				{{/if}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">采购人信息：</label>
			<div class="col-md-4">
				{{if !empty($buyer)}}
				<span>{{$buyer.name}}（ID：{{$buyer.suid}}； 电话：{{$buyer.mobile}}）</span>
				{{else}}
				<span> -- </span>
				{{/if}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">仓库：</label>
			<div class="col-md-4">
				<span style="color:red;font-size: 16px;">{{$order.info._warehouse_name}}</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" style="padding-top: 0px;">备注：</label>
			<div class="col-md-4">
				<span>{{$order.info.note}}</span>
			</div>
		</div>
        {{foreach $order.sources as $_source=>$src_info}}
        <div class="inorder_product_area" style="margin-top:10px; background-color:{{if $_source==1}}beige{{else}}aliceblue{{/if}}">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span style="color:red;">【{{$src_info.name}}】</span>清单：</label>
                <div class="col-sm-10 text-value" style="color:red;font-size: 16px;">{{$src_info.step_desc}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>名称</th>
                                <th>类别</th>
                                <th>单位</th>
                                {{if !empty($_permissions['hc_show_purchase_cost_price'])}}
                                <th>单价</th>
                                {{/if}}
                                <th>数量(已入库)</th>
                                {{if !empty($_permissions['hc_show_purchase_cost_price'])}}
                                <th>总价</th>
                                {{/if}}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{foreach $order.products[$_source] as $productItem}}
                            <tr class="_j_product" data-sid="{{$productItem.sid}}">
                                <td>
                                    {{$productItem.sid}}
                                    <input type="hidden" name="num" value="{{$productItem.num}}">
                                    <input type="hidden" name="price" value="{{$productItem.price/100}}">
                                </td>
                                <td><a href="/shop/edit_sku.php?sid={{$productItem.sid}}" target="_blank">{{$productItem.sku.title}}</a></td>
                                <td>{{$cate1_list[$productItem.sku.cate1]['name']}} - {{$cate2_list_all[$productItem.sku.cate1][$productItem.sku.cate2]['name']}}</td>
                                <td>{{$productItem.sku.unit}}</td>
                                {{if !empty($_permissions['hc_show_purchase_cost_price'])}}
                                <td>￥{{$productItem.price/100}}</td>
                                {{/if}}
                                <td>
                                    {{$productItem.num}}
                                    <span style="{{if $productItem._stock_in < $productItem.num}}color:red;{{/if}}">({{$productItem._stock_in}})</span>
                                </td>
                                {{if !empty($_permissions['hc_show_purchase_cost_price'])}}
                                <td>￥{{$productItem.num * $productItem.price / 100}}</td>
                                {{/if}}
                                <td>
                                    {{if !empty($_permissions['/warehouse/stock_history'])}}
                                    <a href="/warehouse/stock_history.php?sid={{$productItem.sid}}" style="margin-left:15px;" target="_blank">库存</a>
                                    {{else}}
                                    --
                                    {{/if}}
									{{if $order.info.source == 4}}
									<a href="javascript:;" class="_j_purchase_history_orders" data-toggle="modal" style="margin-left:10px;" data-sid="{{$productItem.sid}}" data-oid="{{$order.info.oid}}">采购明细</a>
									{{/if}}
                                </td>
                            </tr>
                        {{/foreach}}
                            {{if !empty($_permissions['hc_show_purchase_cost_price'])}}
                            <tr>
								<td>数量：&nbsp;{{count($order.products[$_source])}}</td>
                                <td>价格汇总:&nbsp;￥{{$src_info.total_price/100}} 元</td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{if $_source == 1}}
                        {{if $order.info.step == 1 && ($order.info.status == 0 || $order.info.status == 6)}}
                        {{if !empty($_permissions['/warehouse/ajax/create_inorder_4_supplier'])}}
						<a class="btn btn-primary change_in_order_status" href="javascript:void(0)" data-oid="{{$order.info.oid}}" data-status="5" style="margin-left:16px;">提交审核</a>
                        {{/if}}
                        {{/if}}
                        {{if $order.info.status == 5}}
                        {{if !empty($_permissions['hc_in_order_audit'])}}
						<a class="btn btn-primary change_in_order_status" href="javascript:void(0)" data-oid="{{$order.info.oid}}" data-status="0" style="margin-left:16px;">审核</a>
                        {{/if}}
                        {{if !empty($_permissions['hc_in_order_audit'])}}
						<a class="btn btn-primary change_in_order_status" href="javascript:void(0)" data-oid="{{$order.info.oid}}" data-status="6"style="margin-left:16px;">驳回</a>
                        {{/if}}
                        {{/if}}
                        {{if $order.info.status == 0 && ($src_info.step>1) && ($src_info.step<4) && !empty($order.products[$_source]) && !empty($_permissions['/warehouse/ajax/save_stock_in'])}}
                        {{if $can_stock_in}}
                        <a class="btn btn-primary" href="/warehouse/edit_stock_in.php?oid={{$order.info.oid}}" style="margin-left:16px;">入库</a>
                        {{/if}}
                        {{/if}}
                        
                        {{if $order.info.paid==0 && $order.info.payment_type==3 && !empty($_permissions['/warehouse/ajax/confirm_paid']) && $order.info.status != 6 && $order.info.status != 5 && !($order.info.step == 1 && $order.info.status == 0)}}
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#financePrePay" style="margin-left:16px;color:blue;">财务预付</button>
                        {{/if}}
                    {{else}}
                    <div>
                        <p style="font-size:30px; font-weight:bold; color:red; text-align:center;">临采单-采购自己处理！</p>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/foreach}}
		
	</form>

	{{if $order.info.step > 1}}
	<div style="clear:both;"></div>
	<div style="margin: 40px 0;">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">入库单列表：</label>
				<div class="col-sm-9">
					{{if !empty($stock_in_lists)}}
					<table class="table">
						<thead>
						<tr>
							<th>入库单id</th>
							<th>总金额</th>
							<th>入库单时间</th>
							<th>状态</th>
							<th width="8%"></th>
						</tr>
						</thead>
						<tbody>
						{{foreach $stock_in_lists as $stock_in}}
						<tr data-id="{{$stock_in.id}}">
							<td><a href="/warehouse/edit_stock_in.php?id={{$stock_in.id}}">{{$stock_in.id}}</a></td>
							<td>￥{{$stock_in.price/100}}</td>
							<td>{{$stock_in.ctime}}</td>
							<td>{{$stock_in._step}}</td>
							<td>
                                {{if !empty($_permissions['/warehouse/stock_in_lists'])}}
                                <a href="/warehouse/edit_stock_in.php?id={{$stock_in.id}}">查看</a>
                                {{else}}
                                --
                                {{/if}}
							</td>
						</tr>
						{{/foreach}}
						</tbody>
					</table>
					{{else}} <span style="color:red; font-size: 20px;">采购单商品未入库</span> {{/if}}
				</div>
			</div>
		</form>
	</div>
	{{/if}}
</div>
<div id="show_hccommon_admin_log" data-objid="{{$order.info.oid}}" data-objtype="8" data-actiontype=""></div>

<div class="modal fade _j_dialog" id="financePrePay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-oid="{{$order.info.oid}}">
	<div class="modal-dialog modal-sm" role="document" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">财务预付</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">支付方式：</label>
						<div class="col-sm-7">
							<select class="form-control" name="payment_type" style="display:inline-block;width:150px;" disabled="true">
								<option value="3" selected="selected">现款后货</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">款项来源：</label>
						<div class="col-sm-7">
							<select class="form-control" name="paid_source" style="display:inline-block;width:150px;"> {{if $stock_in.info.paid_source==0}}
								<option value="0">请选择</option>
								{{/if}} {{foreach $paid_sources as $id => $desc}}
								<option value="{{$id}}" {{if $stock_in.info.paid_source==$id||($id==99&&$stock_in.info.payment_type==1)}}selected="selected"{{/if}}>{{$desc}}</option>
								{{/foreach}} </select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">金额：</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" name="real_amount" placeholder="金额" value="{{$order.info.price/100}}" style="display:inline-block;width:100px;">元
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-7">
							<textarea class="form-control" rows="2" name="note">采购单ID：{{$order.info.oid}}</textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="_j_btn_confirm_pre_pay" data-oid="{{$order.info.oid}}" data-type="1">确认付款</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="showSkuHistory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">
					采购明细
				</h4>
			</div>
			<div id="showSkuHistoryList" style="padding: 20px 50px;">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>