<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">{{if $staff.suid}}编辑{{else}}添加{{/if}}员工</h1>

	<form class="form-horizontal" role="form" action="/admin/edit_staff.php">
		<input type="hidden" name="submit" value="1" />
		{{if $staff.suid}}
		<div class="form-group">
			<label class="col-sm-2 control-label">ID：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="suid" value="{{$staff.suid}}" readonly="true">
			</div>
		</div>
		{{/if}}
		<div class="form-group">
			<label class="col-sm-2 control-label">姓名：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="name" value="{{$staff.name}}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">手机号：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="mobile" value="{{$staff.mobile}}" />
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label">城市：</label>
            <div class="col-sm-4">
                <select class="form-control" name="cities" id="staff_city_id">
                    <option value="0" {{if empty($staff.cities)}}selected="true"{{/if}}>-</option>
                    {{foreach $cities as $city_id => $city}}
                    <option value="{{$city_id}}" {{if $staff.cities == $city_id}}selected="true"{{/if}}>{{$city}}</option>
                    {{/foreach}}
                </select>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label">部门：</label>
			<div class="col-sm-4">
				<select class="form-control" name="department">
					<option value="0" {{if empty($staff.department)}}selected="true"{{/if}}>请选择</option>
					{{foreach $departments as $did => $dname}}
					<option value="{{$did}}" {{if $staff.department == $did}}selected="true"{{/if}}>{{$dname}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">角色：</label>
			<div class="col-sm-4">
				<select class="form-control" name="roles" id="staff_role_select">
					<option value="0" {{if empty($staff.role)}}selected="true"{{/if}}>-</option>
					{{foreach $role_list as $rid => $role}}
					<option value="{{$rid}}" {{if $staff.roles == $rid}}selected="true"{{/if}}>{{$role.role}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">仓库：</label>
			<div class="col-sm-4">
				<select class="form-control" name="wids">
					<option value="0" {{if empty($staff.wids)}}selected="true"{{/if}}>-</option>
					{{foreach $warehouses as $wid => $w_desc}}
					<option value="{{$wid}}" {{if $staff.wids == $wid}}selected="true"{{/if}}>{{$w_desc}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">状态：</label>
			<div class="col-sm-4">
				<input type="radio" {{if $staff.status == 0}}checked="checked"{{/if}} class="radio-inline" name="status" value="0" /> 正常
				<input type="radio" {{if $staff.status == 1}}checked="checked"{{/if}} class="radio-inline" name="status" value="1" /> 删除
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" id="save" style="margin-right:20px;">保存</button>
			</div>
		</div>
	</form>
</div>