<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">角色管理
	{{if !empty($_permissions["/admin/edit_role"])}}
	<a href="/admin/edit_role.php" class="btn btn-primary" style="margin-left: 50px;">添加角色</a>
	{{/if}}
    </h1>
    

	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>部门</th>
			<th>角色</th>
			<th>标识符</th>
			<th>创建日期</th>
			<th>创建人</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		{{foreach $list as $item}}
		<tr>
			<td>{{$item.id}}</td>
			<td>{{$item._department}}</td>
			<td>{{$item.role}}</td>
			<td>{{$item.rkey}}</td>
			<td>{{$item.ctime}}</td>
			<td>{{$item._suser.name}}</td>
			<td>
                {{if !empty($_permissions["/admin/edit_role"])}}
                <a style="margin-right: 20px;" href="/admin/edit_role.php?id={{$item.id}}">编辑信息</a>
                {{/if}}
                {{if !empty($_permissions["/admin/edit_permission"])}}
				<a style="margin-right: 20px;" href="/admin/edit_permission.php?id={{$item.id}}">编辑权限</a>
                {{/if}}
			</td>
		</tr>
		{{/foreach}}
		</tbody>
	</table>

    <nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
        </ul>
    </nav>

</div>
