<style>
    .modal-body{
        text-align: center;
    }
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">
        入库结算单列表
    </h1>

    <form class="form-inline" role="form" action="/finance/stock_in_statements.php">
        <div class="placeholder">
            <div class="form-group" style="margin-right:10px;">
                <label>创建时间：</label>
                <input style="width: 180px;" type="date" class="form-control" name="start_ctime" value="{{$search_conf.start_ctime}}">
                &nbsp; - &nbsp;
                <input style="width: 180px;" type="date" class="form-control" name="end_ctime" value="{{$search_conf.end_ctime}}">
            </div>
            <div class="form-group" style="margin-right: 20px;">
                <label>是否开票：</label>
                <select class="form-control" name="is_invoice">
                    <option value="0" {{if empty($search_conf.is_invoice)}} selected="selected"{{/if}}>请选择</option>
                    <option value="1" {{if $search_conf.is_invoice == 1}} selected="selected"{{/if}}>未开票</option>
                    <option value="2" {{if $search_conf.is_invoice == 2}} selected="selected"{{/if}}>已开票</option>
                </select>
            </div>
        </div>
        <div class="placeholder">
            <div class="form-group" style="margin-right:20px;">
                <label>结算单ID：</label>
                <input style="width: 120px;" type="text" class="form-control" name="id" value="{{$search_conf.id}}">
            </div>
            <div class="form-group" style="margin-right:20px;">
                <label>供应商ID：</label>
                <input style="width: 120px;" type="text" class="form-control" name="supplier_id" value="{{$search_conf.supplier_id}}">
            </div>
            <div class="form-group" style="margin-right:20px;">
                <label>付款方式：</label>
                <select class="form-control" name="payment_type">
                    <option value="" {{if empty($search_conf.payment_type)}}selected="selected"{{/if}}>请选择</option>
                    {{foreach $paid_sources as $step => $name}}
                    <option value="{{$step}}" {{if $search_conf.payment_type==$step}}selected="selected"{{/if}}>{{$name}}</option>
                    {{/foreach}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:10px;">查询</button>
        </div>
    </form>

    <nav class="nav navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {{if $search_conf.paid == 127 }}class="active"{{/if}}>
                        <a href="{{$page_url}}&paid=127" style="padding-right: 30px;padding-left: 30px;">
                            全部
                        </a>
                    </li>
                    <li {{if $search_conf.paid == 0 }}class="active"{{/if}}>
                        <a href="{{$page_url}}&paid=0" style="padding-right: 30px;padding-left: 30px;">
                            未兑账
                        </a>
                    </li>
                    <li {{if $search_conf.paid == 1 }}class="active"{{/if}}>
                        <a href="{{$page_url}}&paid=1" style="padding-right: 30px;padding-left: 30px;">
                            未付款
                        </a>
                    </li>
                    <li {{if $search_conf.paid == 2 }}class="active"{{/if}}>
                        <a href="{{$page_url}}&paid=2" style="padding-right: 30px;padding-left: 30px;">
                            已支付
                        </a>
                    </li>
                </ul>
                <!--{{if !empty($_permissions['/warehouse/ajax/create_stockin_statements'])}}-->
                <!--<button style="margin: 10px auto;float:right;" type="button" class="btn btn-primary" id="btn_statements">生成结算单</button>-->
                <!--{{/if}}-->
            </div>
        </div>
    </nav>

    <table class="table" style="text-align: center">
        <thead>
            <tr>
                <th style="width:10%; text-align: center;">结算单ID</th>
                <th style="width:22%; text-align: center;">供应商</th>
                <th style="width:10%; text-align: center;">金额</th>
                <th style="width:15%; text-align: center;">付款方式/是否付款</th>
                <th style="width:8%; text-align: center;">创建人</th>
                <th style="width:8%; text-align: center;">付款人</th>
                <th style="width:8%; text-align: center;">是否开票</th>
                <th style="width:10%; text-align: center;">操作</th>
                <!--<th><input type="checkbox" id="checkAll" />全选</th>-->
            </tr>
        </thead>
        <tbody id="statement_area">
            {{foreach $statement_list as $statement}}
                <tr>
                    <td>
                        <label>{{$statement.id}}</label>
                    </td>
                    <td>{{$statement.supplier_name}}</td>
                    <td>{{$statement.amount/100}} 元</td>
                    <td>
                        {{if $statement.payment_type>0}}{{$paid_sources[$statement.payment_type]}}{{else}}-{{/if}}/
                        {{if $statement.paid==2}}
                        <span style="color:green;">【已支付】</span>
                        {{elseif $statement.paid==1}}
                        <span style="color:red;">【未付款】</span>
                        {{else}}
                        <span style="color:blue;">【未兑账】</span>
                        {{/if}}
                    </td>
                    <td>{{$statement.create_name}}</td>
                    <td>{{$statement.payer_name}}</td>
                    <td>{{$statement.invoice_status}}</td>
                    <td>
                        {{if !empty($_permissions['/finance/stockin_statement_detail'])}}
                        <a href="/finance/stockin_statement_detail.php?statement_id={{$statement.id}}" target="_blank">查看</a><br/>
                        {{/if}}
                        {{if !empty($_permissions['/finance/stockin_statement_print'])}}
                        <a href="/finance/stockin_statement_print.php?id={{$statement.id}}" target="_blank">打印</a><br/>
                        {{/if}}
                        {{if $statement.paid<2 && !empty($_permissions['/finance/ajax/recall_stockin'])}}
                        <a href="javascript:;" data-id="{{$statement.id}}" class="_j_del_statement">删除</a><br>
                        {{/if}}
                        {{if !empty($_permissions['/finance/stockin_statement_detail'])}}
                        <a href="javascript:;" data-id="{{$statement.id}}" class="_j_statements_product_detail">开票明细</a>
                        {{/if}}
                    </td>
                </tr>
            {{/foreach}}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
        </ul>
    </nav>
</div>
<script type="text/javascript">
    $(function(){
        switch ($('#navbar').attr('data-id')) {
            case '0':
                $($('#navbar li')[1]).attr('class','active');
                break;
            case '1':
                $($('#navbar li')[2]).attr('class','active');
                break;
            case '2':
                $($('#navbar li')[3]).attr('class','active');
                break;
            default:
                $($('#navbar li')[0]).attr('class','active');
                break;
        }
    });
</script>
<div class="modal fade" tabindex="-1" role="dialog" id="statements_product_detail">
    <div class="modal-dialog" role="document" style="width: 680px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="header"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>