<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">司机列表</h1>

	<form class="form-inline" role="form" action="/logistics/driver.php">
		<div class="placeholder">
			<div class="form-group" style="margin-right:20px;">
				<label>id：</label> <input style="width: 150px;" type="text" class="form-control" name="id" value="{{$search_conf.did}}">
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>手机：</label> <input style="width: 150px;" type="text" class="form-control" name="mobile" value="{{$search_conf.mobile}}">
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>姓名：</label> <input style="width:100px;" type="text" class="form-control" name="name" value="{{$search_conf.name}}">
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>车型：</label>
				<select class="form-control" name="car_model">
					<option value="0" {{if empty($search_conf.car_model)}}selected="selected" {{/if}}>请选择</option>
					{{foreach $model_list as $mid => $model}}
						<option value="{{$mid}}" {{if $search_conf.car_model== $mid}}selected="selected" {{/if}}>{{$model}}</option>
					{{/foreach}}
				</select>
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>来源：</label>
				<select class="form-control" name="source">
					<option value="0" {{if empty($search_conf.source)}}selected="selected" {{/if}}>请选择</option>
					{{foreach $source_list as $sid => $source}}
						<option value="{{$sid}}" {{if $search_conf.source== $sid}}selected="selected" {{/if}}>{{$source}}</option>
					{{/foreach}}
				</select>
			</div>
            <div class="form-group" style="margin-right:20px;">
				<label>状态：</label>
				<select class="form-control" name="status">
                    <option value="127" {{if $search_conf.status==127}}selected="selected" {{/if}}>全部</option>
					<option value="0" {{if $search_conf.status==0}}selected="selected" {{/if}}>正常</option>
					<option value="1" {{if $search_conf.status==1}}selected="selected" {{/if}}>删除</option>
                    <option value="5" {{if $search_conf.status==5}}selected="selected" {{/if}}>未审核</option>
				</select>
			</div>
		</div>
		<div class="placeholder">
			<div class="form-group" style="margin-right:20px;">
				<label>所属库房：</label>
				<select class="form-control" name="wid" {{if $_user.wid!=0}} disabled="true"{{/if}}>
					<option value="0" {{if empty($search_conf.wid)}}selected="selected" {{/if}}>请选择</option>
					{{foreach $warehouse as $wid => $name}}
						<option value="{{$wid}}" {{if $search_conf.wid==$wid}}selected="selected"{{/if}}>{{$name}}</option>
					{{/foreach}}
				</select>
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>车牌尾号：</label>
				<select class="form-control" name="car_code">
					<option value="0" {{if empty($search_conf.car_code)}}selected="selected" {{/if}}>请选择</option>
					{{foreach $car_code_list as $wid => $name}}
						<option value="{{$wid}}" {{if $search_conf.car_code==$wid}}selected="selected"{{/if}}>{{$name}}</option>
					{{/foreach}}
				</select>
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>是否愿意搬运：</label>
				<select class="form-control" name="can_carry">
					<option value="0" {{if empty($search_conf.can_carry)}}selected="selected" {{/if}}>请选择</option>
					{{foreach $can_carry_list as $wid => $name}}
						<option value="{{$wid}}" {{if $search_conf.can_carry==$wid}}selected="selected"{{/if}}>{{$name}}</option>
					{{/foreach}}
				</select>
			</div>
			<button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>
            {{if !empty($_permissions["/logistics/add_driver"])}}
			<a style="margin-left: 20px;" href="/logistics/add_driver.php" class="btn btn-primary">新增</a>
            {{/if}}
		</div>
	</form>

	<hr>

	<table class="table">
		<thead>
		<tr>
			<th>id</th>
			<th>姓名</th>
			<th>配送范围</th>
			<th>车型</th>
			<th>押车</th>
			<th>拉垃圾</th>
			<th>来源</th>
			<th>所属库房</th>
			<th>状态</th>
			<th>车牌尾号</th>
			<th>是否愿意搬运</th>
			<th>评分</th>
			<th>操作</th>
		</tr>
		</thead>
		<tbody>
		{{foreach $driver_list as $driver}}
			<tr data-cid="{{$driver.did}}">
				<td>
					{{$driver.did}}
				</td>
				<td>
                    {{$driver.name}}<br>
                    <span style="color:gray;">{{$driver.mobile}}</span>
				</td>
				<td>
					{{if !empty($driver._trans_scope)}}
                    {{foreach $driver._trans_scope as $s}}
                    <span>{{$trans_scopes[$s]}}</span><br>
                    {{/foreach}}
                    {{else}}
                    <span style="color:gray;">常规配送</span>
                    {{/if}}
				</td>
				<td>
					{{$driver.car_model}}
				</td>
				<td>{{if $driver.can_escort}}是{{else}}否{{/if}}</td>
				<td>{{if $driver.can_trash}}是{{else}}否{{/if}}</td>
				<td>
					{{$driver.source}}
				</td>
				<td>
					{{$driver.warehouse}}
				</td>
				<td>
					{{if $driver.status==1}}删除{{elseif $driver.status==5}}未审核{{else}}正常{{/if}}
				</td>
				<td>
					{{$driver.car_code_show}}
				</td>
				<td>
					{{$driver.can_carry_show}}
				</td>
				<td>
					{{$driver.score}}
				</td>
				<td>
					{{if !empty($_permissions['/logistics/ajax/save_driver'])}}
                    <a style="margin-right: 10px;" href="/logistics/add_driver.php?did={{$driver.did}}">编辑</a>
                    {{/if}}
                    {{if !empty($_permissions['/logistics/ajax/delete_driver'])}}
					<a style="margin-right: 10px;" data-id="{{$driver.did}}" class="delete_driver" href="javascript:;">删除</a>
                    {{/if}}
                    {{if !empty($_permissions['/logistics/add_driver'])}}
					<a style="margin-right: 10px;" href="/logistics/add_driver.php?did={{$driver.did}}">详情</a>
					{{/if}}
                    {{if !empty($_permissions['/logistics/ajax/modify_driver'])}}
                    <a data-id="{{$driver.did}}" class="reset_driver_passwd" href="javascript:;">重置密码</a>
                    {{/if}}
                    <br/>
                    {{if !empty($_permissions['/order/driver_order_list'])}}
                    <a style="margin-right: 10px;" href="/logistics/driver_order_list.php?cuid={{$driver.did}}&type=1">查看订单</a>
                    {{/if}}
                    {{if !empty($_permissions['/finance/coopworker_bill_list'])}}
					<a href="/finance/coopworker_bill_list.php?cuid={{$driver.did}}&type=1">查看应付</a>
                    {{/if}}
				</td>
			</tr>
		{{/foreach}}
		</tbody>
	</table>

	<nav>
		<ul class="pagination">
			{{$pageHtml nofilter}}
			<li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
		</ul>
	</nav>

</div>

<!-- Modal -->
<div class="modal fade _j_dialog" id="edit_check_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-oid="{{$order.oid}}">
	<div class="modal-dialog modal-sm" role="document" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">更改签到状态</h4>
			</div>
			<input type="hidden" id="check_did" value="0" />
			<div class="modal-body">
				<div class="form-group">
					<span style="margin-right: 50px;" class="radio-inline"><input {{if empty($driver._queue)}}checked="checked"{{/if}} type="radio" name="new_type" value="-1" />未签到</span>
					<span class="radio-inline"><input {{if $driver._queue.type==1}}checked="checked"{{/if}} type="radio" name="new_type" value="1" />已签到</span>
				</div>
				<div class="form-group">
					<select style="width:200px;" class="form-control" id="check_in_wid">
						<option value="0">请选择</option>
						{{foreach $warehouse as $wid => $wname}}
						<option value="{{$wid}}">{{$wname}}</option>
						{{/foreach}}
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" id="change_check_in" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade _j_dialog" id="edit_alloc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-oid="{{$order.oid}}">
	<div class="modal-dialog modal-sm" role="document" style="width:500px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">更改接单状态</h4>
			</div>
			<div class="modal-body">
				<span class="radio-inline"><input {{if $driver._queue.type==2}}checked="checked"{{/if}} type="radio" name="new_type" value="2" />未接单</span>
				<span class="radio-inline"><input {{if $driver._queue.type==3}}checked="checked"{{/if}} type="radio" name="new_type" value="3" />已接单</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" id="change_accept" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>
