<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key={{$key}}"></script>
<div id="order_list" style="display: none;">
	{{$order_list}}
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">订单列表</h1>

	<form class="form-inline" role="form" action="/logistics/map.php">
		<div class="placeholder">
			<div class="form-group" style="margin-right:20px;">
				<label>送货日期：</label>
				<select class="form-control" name="delivery_date">
					<option value="" {{if empty($searchConf.delivery_date)}}selected="selected" {{/if}}>所有</option>
					<option value="{{$smarty.now|date_format:" %Y-%m-%d"}}" {{if $searchConf.delivery_date == "{{$smarty.now|date_format:'%Y-%m-%d'}}"}}selected="selected"{{/if}}>今天</option>
					<option value="{{($smarty.now+86400)|date_format:" %Y-%m-%d"}}" {{if $searchConf.delivery_date == "{{($smarty.now+86400)|date_format:'%Y-%m-%d'}}"}}selected="selected"{{/if}}>明天</option>
					<option value="{{($smarty.now-86400)|date_format:" %Y-%m-%d"}}" {{if $searchConf.delivery_date == "{{($smarty.now-86400)|date_format:'%Y-%m-%d'}}"}}selected="selected"{{/if}}>昨天</option>
				</select>
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>时段：</label>
				<select class="form-control" name="time_interval">
					<option value="0" {{if empty($searchConf.delivery_date)}}selected="selected" {{/if}}>所有</option>
					<option value="9" {{if $searchConf.time_interval == 9}}selected="selected"{{/if}}>上午</option>
					<option value="12" {{if $searchConf.time_interval == 12}}selected="selected"{{/if}}>下午</option>
					<option value="18" {{if $searchConf.time_interval == 18}}selected="selected"{{/if}}>晚上</option>
				</select>
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>订单号：</label>
				<input style="width: 120px;" type="text" class="form-control" name="oid" value="{{$searchConf.oid}}">
			</div>
			<div id="h5-deliver-date" class="form-group" style="margin-right: 20px;">
				<label>送货时间：</label>
				<input type="date" class="form-control" name="from_date" value="{{if $searchConf.from_date}}{{$searchConf.from_date}}{{/if}}" style="width: 160px;"> — <input type="date" class="form-control" name="end_date" value="{{if $searchConf.end_date}}{{$searchConf.end_date}}{{/if}}" style="width: 160px;">
			</div>
		</div>
		<div class="placeholder">
			<div class="form-group" style="margin-right:20px;">
				<label>客户ID：</label>
				<input style="width: 120px;" type="text" class="form-control" name="cid" value="{{$searchConf.cid}}">
			</div>
			{{if !$_user.wid}}
			<div class="form-group" style="margin-right:20px;">
				<label>仓库：</label>
				<select class="form-control" name="wid">
					<option value="0" {{if !$searchConf.wid}} selected="selected" {{/if}}>全部</option>
					{{foreach $_warehouseList as $_wid=>$_wname}}
					<option value="{{$_wid}}" {{if $searchConf.wid==$_wid}} selected="selected" {{/if}}>{{$_wname}}</option>
					{{/foreach}}
				</select>
			</div>
			{{/if}}
			<div class="form-group">
				<label>工地：</label>
				<input type="text" class="form-control" name="construction" value="{{$searchConf.construction}}" style="margin-right: 20px; width: 240px;">
			</div>

			<button type="submit" class="btn btn-primary" id="btn_search">查询</button>
		</div>
	</form>

	<hr>

	<div style="width: 100%; height: 700px;" id="container"></div>

</div>
