<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">优惠券申请列表</h1>

  <form class="form-inline" role="form" action="/crm2/apply_coupon_list.php">
    <div class="placeholder">
      
      <div class="form-group" style="margin-right: 20px;">
        <label>客户专员：</label>
        <select class="form-control" name="sales_suid">
          <option value="0" {{if empty($search_conf.sales_suid)}}selected="selected"{{/if}}>请选择</option>
          {{foreach $salemanList as $man}}
          <option value="{{$man.suid}}" {{if $search_conf.sales_suid==$man.suid}}selected="selected"{{/if}}>{{$man.name}}</option>
          {{/foreach}}
        </select>
      </div>
			
      <div class="form-group" style="margin-right:50px;">
        <label>审批状态：</label>
        
				<select class="form-control" name="status">
          <option value="0" {{if empty($search_conf.status)}}selected="selected"{{/if}}>请选择</option>
          {{foreach $applyCouponSt as $stkey => $stval}}
          <option value="{{$stkey}}" {{if $search_conf.status==$stkey}}selected="selected"{{/if}}>{{$stval}}</option>
          {{/foreach}}
        </select>
      </div>
			
      <button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>
    </div>
  </form>

  <hr>

  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th style="width:15%;">客户信息</th>
			<th>总消费</th>
			<th>优惠券信息</th>
			<th style="width:15%;">申请原因</th>
      <th>申请人</th>
      <th>审批人</th>
			<th>申请状态</th>
      <th style="width:10%;">申请时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{foreach $applyList as $applyOne}}
		<tr>
			<td>{{$applyOne.id}}</td>
			<td>
				<a href="/crm2/customer_detail.php?cid={{$applyOne.cid}}" target="_blank">{{$applyOne.customer_info.name}}</a><br />
				<span style="color:gray;">{{$applyOne.customer_info.address}}</span><br />
				<span style="color:gray;">{{$applyOne.customer_info.phone}}</span>
			</td>
			<td>￥{{$applyOne.customer_info.order_amount/100}}</td>
			<td>
				<span style="color:red;">{{$applyOne.couponInfo.num}}张{{$applyOne.couponInfo.amount}}元优惠券</span>
			</td>
			<td>{{$applyOne.note}}</td>
			<td>
				{{$applyOne.sales_info.name}}<br />
				<span style="color:gray;">{{$applyOne.sales_suid}}</span>
			</td>
			<td>
				{{if !empty($applyOne.admin_info)}}
					{{$applyOne.admin_info.name}}<br />
					<span style="color:gray;">{{$applyOne.admin_suid}}</span>
				{{else}}
					-
				{{/if}}
			</td>
			<td>{{$applyCouponSt[$applyOne['status']]}}</td>
      <td>{{$applyOne.ctime}}</td>
			<td>
				{{if $applyOne['status'] == 1}}
				<span data-msg="{{$applyOne.customer_info.name}}：{{$applyOne.couponInfo.num}}张{{$applyOne.couponInfo.amount}}元优惠券" style="display: none;"></span>
				<a href="javascript:;" class="_j_audit_apply_coupon" data-id="{{$applyOne.id}}" data-status="3" style="margin-right: 10px;">批准</a>
				<a href="javascript:;" class="_j_audit_apply_coupon" data-id="{{$applyOne.id}}" data-status="2">驳回</a>
				<br />
				<a target="_blank" href="/crm2/customer_list.php?cid={{$applyOne.cid}}">用户信息</a>
				{{else}}
				<span>已审批</span>
				{{/if}}
			</td>
		</tr>
		
		
		
    {{/foreach}}
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      {{$pageHtml nofilter}}
      <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
    </ul>
  </nav>

</div>
