<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">企业列表</h1>

    <form id="search_form" class="form-inline" role="form" action="/crm2/business_list.php">
        <div class="placeholder">
            <div class="form-group" style="margin-right:30px;">
              <label>企业ID ：</label>
              <input style="width:105px;" type="text" class="form-control" name="bid" value="{{$search_conf.bid}}">
            </div>
            
            <div class="form-group" style="margin-right:30px;">
              <label>名称：</label>
              <input type="text" class="form-control" name="name" value="{{$search_conf.name}}">
            </div> 
            
            <div class="form-group" style="margin-right:30px;">
              <label>手机：</label>
              <input type="text" class="form-control" name="mobile" value="{{$search_conf.mobile}}">
            </div>
        </div>
        <div class="placeholder">
            <div class="form-group" style="margin-right:30px;">
              <label>地址：</label>
              <input type="text" class="form-control" name="address" value="{{$search_conf.address}}" style="width:420px;">
            </div>
            
            <button type="submit" class="btn btn-primary" id="btn_search" style="margin: 0px 40px 0px 20px;">查询</button>
            {{if !empty($_permissions["/crm2/add_business"])}}
            <a href="/crm2/add_business.php" class="btn btn-default">添加企业号</a>
            {{/if}}
        </div>
    </form>

    <hr>
    {{if $total > 0}}
    <table class="table">
      <thead>
      <tr>
        <th>企业ID</th>
        <th style="width:16%;">信息</th>
        <th style="width:20%;">地址</th>
        <th style="width:10%;">录入人</th>
        <th style="width:10%;">销售专员</th>
        <th style="width:20%;">备注</th>
        <th style="width:10%;">操作</th>
      </tr>
      </thead>
      <tbody>
      {{foreach $business_list as $business}}
      <tr data-bid="{{$business.bid}}">
        <td>
          {{$business.bid}}
          {{if $business.status<>0}}
          <br/>
          <span style="color:red;">({{$status_list[$business.status]}})</span>
          {{/if}}
        </td>
        <td>
            [名称] {{$business.bname}}<br>
            [联系] {{$business.cname}}<br>
            [电话] {{$business.mobile}}
        </td>

        <td>
          {{$business.full_addr}}
        </td>

        <td>
          {{if $business.record_suid}}
              {{$business._record_suid.name}}
          {{else}}
            --
          {{/if}}
        </td>
            
        <td>
            {{if $business.sales_suid}}
                {{$business._sales_suid.name}}
            {{else}}
              --
            {{/if}}
        </td>
        
        <td>
            {{if !empty($business.note)}}{{$business.note}}{{else}}暂无{{/if}}
        </td>

        <td>
            {{if !empty($_permissions["/crm2/business_detail"])}}
            <a href="/crm2/business_detail.php?bid={{$business.bid}}" style="margin-right: 10px;">详情</a>
            {{/if}}
            {{if !empty($_permissions["/crm2/edit_business"])}}
            <a href="/crm2/edit_business.php?bid={{$business.bid}}" style="margin-right: 10px;">编辑</a>
            <br>
            <a href="javascript:void(0);" class="edit_business" 
            data-toggle="modal" data-target="#myModal"
            data-bid="{{$business.bid}}"
            data-bname="{{$business.bname}}"
            data-discount="{{$business.discount_ratio}}"
            data-start-time="{{$business.contract_btime}}"
            data-end-time="{{$business.contract_etime}}"
            data-level="{{$business.level_for_sys}}"
            data-payment-days="{{$business.payment_days}}"
            data-payment-amount="{{$business.payment_amount}}"
            data-has-duty="{{$business.has_duty}}"
            >高级编辑</a>
            {{/if}}
            {{if !empty($_permissions["/crm2/ajax/modify_business"])}}
            <br>
            <a href="javascript:;" class="reset_df_passwd" data-bid="{{$business.bid}}" style="margin-right:10px;color:purple;">重置密码</a>
            {{/if}}
        </td>
      </tr>
      {{/foreach}}
      </tbody>
    </table>
    {{else}}
        无此用户！
        {{if !empty($_permissions["/crm2/add_business"])}}
        你可以：
        <a href="/crm2/edit_business.php" class="btn btn-primary">添加企业号</a>
        {{/if}}
    {{/if}}

    <nav>
      <ul class="pagination">
        {{$pageHtml nofilter}}
        <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
      </ul>
    </nav>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document" style="width:60%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">编辑企业</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" class="form-inline" role="form">
						<div class="form-group">
							<label class="col-sm-4 control-label">企业ID：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="bid" value="" readonly="true" style="display:inline-block; width: 100%;">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">企业名称：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="bname" value="" readonly="true" style="display:inline-block; width: 100%;">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">企业类别：</label>
							<div class="col-sm-6">
								<select class="form-control" name="level_for_sys" style="display:inline-block; width: 100%;">
									
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">合同起止时间：</label>
							<div class="col-sm-6">
								<input type="date" class="form-control" name="contract_btime" value="" style="display:inline-block; width: 46%;"> —
		        				<input type="date" class="form-control" name="contract_etime" value="" style="display:inline-block; width: 46%;">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">折扣比例：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="discount_ratio" value="" style="display:inline-block; width: 100%;">
							</div>
							<label class="control-label">%</label>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">账期：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="payment_days" value="" style="display:inline-block; width: 100%;">
							</div>
							<label class="control-label">天</label>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">帐额：</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="payment_amount" value="" style="display:inline-block; width: 100%;">
							</div>
							<label class="control-label">元</label>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">含税：</label>
							<div class="col-sm-6">
								<select class="form-control" name="has_duty" style="display:inline-block; width: 100%;">
									
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary save_update_business">保存</button>
				</div>
			</div>
		</div>
	</div>
</div>



