<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">优惠券列表</h1>

	<form class="form-inline" role="form" action="/crm2/coupon_list.php">
		<div class="placeholder">
			<div class="form-group" style="margin-right: 20px;">
				<label>客户id：</label> <input class="form-control" type="text" value="{{$search_conf.cid}}" name="cid">
			</div>
			<div class="form-group" style="margin-right:20px;">
				<label>优惠券类型：</label>
				<select class="form-control" name="type">
					<option value="0" {{if empty($search_conf.type)}}selected="selected" {{/if}}>请选择</option>
					{{foreach $couponTypes as $tkey => $tval}}
					<option value="{{$tkey}}" {{if $search_conf.type==$tkey}}selected="selected"{{/if}}>{{$tval}}</option>
					{{/foreach}}
				</select>
			</div>

			<div class="form-group" style="margin-right:20px;">
				<label>是否使用：</label>
				<select class="form-control" name="used">
					<option value="-1" {{if ($search_conf.used==-1)}}selected="selected"{{/if}}>请选择</option>
					<option value="0" {{if ($search_conf.used==0)}}selected="selected"{{/if}}>未使用</option>
					<option value="1" {{if ($search_conf.used==1)}}selected="selected"{{/if}}>已使用</option>
				</select>
			</div>
		</div>
		<div class="placeholder">
			<div class="form-group" style="margin-right:15px;">
				<label>发放时间：</label>
				<input type="date" class="form-control" name="btime" value="{{$search_conf.btime}}" placeholder="YYYY-MM-DD">
				<span> -- </span>
				<input type="date" class="form-control" name="etime" value="{{$search_conf.etime}}" placeholder="YYYY-MM-DD">
			</div>

			<button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>
		</div>
	</form>

	<hr>

	<table class="table">
		<thead>
		<tr>
			<th>ID</th>
			<th>客户信息</th>
			<th>优惠券信息</th>
			<th>优惠类型</th>
			<th>TID/AID</th>
			<th>是否使用</th>
			<th>使用订单</th>
			<th><a href="{{$query_url}}&sort=ctime">发放时间</a></th>
			<th><a href="{{$query_url}}&sort=deadline">过期时间</a></th>
		</tr>
		</thead>
		<tbody>
		{{foreach $coupon_list as $coupon}}
		<tr>
			<td>{{$coupon.id}}</td>
			<td>
				{{if $_isCS}}
				{{$coupon._customer.name}}<br>
				<span>ID：{{$coupon.cid}}</span><br>
				{{else}}
				<a href="/crm2/customer_detail.php?cid={{$coupon.cid}}" target="_blank">{{$coupon._customer.name}}</a><br>
				<span>ID：{{$coupon.cid}}</span><br>
				<span style="color:grey">{{$coupon._customer.phone}}</span>
				{{/if}}
			</td>
			<td>
				{{if $coupon.cate == 2}}
				<span style="color:#112EE8;">VIP现金券[{{$coupon.amount}}元]</span><br/>
				{{else if $coupon.cate == 3}}
				<span>运费券[{{$coupon.amount}}元]</span><br/>
				{{else}}
				<span>现金券[{{$coupon.amount}}元]</span><br/>
				{{/if}}
				<span>[券码：{{$coupon.code}}]</span>
				{{if $coupon.overdate == 1}} <br>
				<span style="color:red;">[已过期]</span>
				{{else if $coupon.overdate == 2}}
				<br>
				<span style="color:red;">[即将过期]</span>
				{{/if}}
			</td>
			<td>{{$couponTypes[$coupon.type]}}</td>
			<td>{{$coupon.tid}}/{{$coupon.aid}}</td>
			<td>{{if $coupon.used}}已使用{{else}}未使用{{/if}}</td>
			<td>
				{{if $coupon.oid}}
				<a href="/order/order_detail.php?oid={{$coupon.oid}}" target="_blank">订单ID：{{$coupon.oid}}</a>
				{{else}}
				-
				{{/if}}
			</td>
			<td>{{$coupon.ctime}}</td>
			<td>{{$coupon.deadline}}</td>
		</tr>
		{{/foreach}}
		</tbody>
	</table>

	<nav>
		<ul class="pagination">
			{{$pageHtml nofilter}}
			<li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
		</ul>
	</nav>
</div>
