<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">
		返现记录
	</h1>

	<form id="search_form" class="form-inline" role="form" action="/crm2/cumulative_history.php">
		<div class="placeholder">
			<div class="form-group" style="margin-right:30px;">
				<label>Cid ：</label>
				<input style="width:105px;" type="text" class="form-control" name="cid" value="{{$search_conf.cid}}">
			</div>
			<button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>
		</div>
	</form>

	<hr>
	{{if $total > 0}}
		<table class="table">
			<thead>
				<tr>
					<th>Cid</th>
					<th>客户信息</th>
					<th>返现门槛</th>
					<th>返现金额</th>
					<th>返现时间</th>
				</tr>
			</thead>
			<tbody>
				{{foreach $list as $info}}
					<tr>
						<td>
							{{$info.cid}}
						</td>
						<td>
							<a href="/crm2/customer_detail.php?cid={{$info.cid}}"> {{if $info._customer.identity==1}} {{if $info._customer.name == $info._customer.all_user_names}} {{$info._customer.all_user_names}} {{else}} {{$customer.name}} {{if $info._customer.all_user_names<>'HC_工长'}}-{{$info._customer.all_user_names}}{{/if}} {{/if}} {{else}} {{$info._customer.name}} {{/if}}</a><br/>
							<span style="color:gray;">{{$info._customer.mobiles[0]}} {{if count($info._customer.mobiles)>1}} 等{{/if}}</span>
						</td>
						<td>
							{{$info.type / 100}} 元
						</td>
						<td>
							{{$info.amount}} 元
						</td>
						<td>
							{{$info.ctime}}
						</td>
					</tr>
				{{/foreach}}
			</tbody>
		</table>
	{{else}}
		无记录
	{{/if}}

	<nav>
		<ul class="pagination">
			{{$pageHtml nofilter}}
			<li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
		</ul>
	</nav>
</div>