<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">
      客户列表
  </h1>

    <form id="search_form" class="form-inline" role="form" action="/crm2/customer_list.php">
        <div class="placeholder">
            <div class="form-group" style="margin-right:30px;">
              <label>客户Cid ：</label>
              <input style="width:105px;" type="text" class="form-control" name="cid" value="{{$search_conf.cid}}">
            </div>

            <div class="form-group" style="margin-right:30px;">
              <label>手机：</label>
              <input type="text" class="form-control" name="mobile" value="{{$search_conf.mobile}}">
            </div>

            <div class="form-group" style="margin-right:30px;">
              <label>名称：</label>
              <input type="text" class="form-control" name="name" value="{{$search_conf.name}}">
            </div>
        </div>
        <div class="placeholder">
            <div class="form-group" style="margin-right:30px;">
                <label>公/私海：</label>
                <select class="form-control" name="sale_status" >
                  <option value="0" {{if $search_conf.sale_status==0}} selected="selected"{{/if}}>全部</option>
                  {{foreach $sale_status as $s_status => $desc}}
                  <option value="{{$s_status}}" {{if $search_conf.sale_status==$s_status}}selected="selected"{{/if}}>{{$desc}}</option>
                  {{/foreach}}
                </select>
            </div>
            <div class="form-group" style="margin-right:30px;">
              <label>销售专员：</label>
              <select class="form-control" name="sales_suid" style="width:105px;">
                <option value="0" {{if empty($search_conf.sales_suid)}} selected="selected"{{/if}}>请选择</option>
                {{foreach $salesman_list as $man}}
                <option value="{{$man.suid}}" {{if $search_conf.sales_suid==$man.suid}}selected="selected"{{/if}}>{{$man.name}}</option>
                {{/foreach}}
              </select>
            </div>
        </div>

    </form>

  <hr>
  {{if $total > 0}}
  <table class="table">
    <thead>
        <tr>
          <th>Cid</th>
          <th style="width:16%;">客户信息</th>
          <th style="width:10%;">销售/流入时间</th>
          <th style="width:10%">欠款</th>
          <th style="width:12%;">
            <a href="{{$base_url}}&order=order_num">订单数</a>
            /
            <a href="{{$base_url}}&order=last_order_date">最后下单</a>
          </th>
          <th style="width:12%;">
            <a href="{{$base_url}}&order=total_amount">订单金额</a>
          </th>
          <th style="width:18%;">操作</th>
        </tr>
    </thead>
    <tbody>
    {{foreach $customers as $customer}}
    <tr data-cid="{{$customer.cid}}">
      <td>
        {{$customer.cid}}
        {{if $customer.status<>0}}
        <br/>
        <span style="color:red;">({{$status_list[$customer.status]}})</span>
        {{/if}}
      </td>
      <td>
        {{$customer.name}}<br/>
        <span style="color:gray;">[联]: {{$customer.mobiles[0]}} {{if count($customer.mobiles)>1}} 等{{/if}}</span><br/>
        <span style="color:red;">[地]: {{$city_list[$customer.city_id]}}</span><br />
        <span style="color:red;">[税]: {{if $customer.tax_point==0}}不含税{{else}}税点 {{$customer.tax_point}}{{/if}}</span><br>
        <span style="color: #00CC33">[级]: {{if !empty($customer.level_for_sys)}}{{$sys_levels[$customer.level_for_sys]}}{{else}}暂无{{/if}}</span>
      </td>

      <td>
        {{$customer._suser.name|default:'暂无'}}<br>
        {{$customer.chg_sstatus_time}}
      </td>
      <td>
        <span style="color:red;">{{$customer.account_balance / 100}}元</span>
      </td>
      <td>
          <span>{{$customer.order_num}}</span> /
          <span>{{if empty($customer.last_order_date) || '0000-00-00'==$customer.last_order_date}}-{{else}}{{$customer.last_order_date}}{{/if}}</span>
      </td>

      <td>
          [总]<span>￥{{$customer.total_amount/100}}元</span><br />
          [退]<span>￥{{$customer.refund_amount/100}}元</span>
      </td>

      <td>
          {{if ($customer.is_show_mobile)}}
              {{if !empty($_permissions["/crm2/edit_customer"])}}
              <a href="/crm2/edit_customer.php?cid={{$customer.cid}}" style="margin-right: 10px;">编辑</a>
              {{/if}}
              {{if $customer.order_num > 0}}
                  <a href="/order/order_list.php?cid={{$customer.cid}}&saler_suid={{$search_conf.sales_suid}}">订单</a>
              {{/if}}
          {{else}}
          {{/if}}
          {{if !empty($_permissions['/order/customer_list_cs'])}}
          <br><a href="/order/customer_list_cs.php?cid={{$customer.cid}}" style="margin-right: 10px; color: purple;">去下单</a><br>
          {{/if}}
      </td>
    </tr>
    {{/foreach}}
    </tbody>
  </table>
  {{else}}
    无此用户！
    {{if !empty($search_conf.mobile)}}
    你可以：
    <!--a class="btn btn-primary" href="javascript:;" id="auto_save_customer">创建客户快速下单</a-->
    <a href="/crm2/new_customer.php" class="btn btn-primary">添加客户</a>
    {{/if}}
  {{/if}}

  <nav>
    <ul class="pagination">
      {{$pageHtml nofilter}}
      <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
    </ul>
  </nav>

</div>

{{include file="crm2/block/coupon_dialog.html"}}
{{include file="crm2/block/sale_schedule_dialog.html"}}

<div class="modal fade" id="send_vip_coupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document" style="width:600px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">发放VIP现金券</h4>
			</div>
			<div class="modal-body">
				<input id="send_to_cid" type="hidden" value="0" />
                <div class="form-group" style="">
                    <label>现金券类型：</label>
                    <select class="form-control" id="coupon_id" style="width: 300px; display: inline-block; margin-right: 50px;">
                        {{foreach $vip_coupon_list as $key => $name}}
                        <option value="{{$key}}">{{$name}}</option>
                        {{/foreach}}
                    </select>
                </div>
				<div class="form-group" style="">
                    <label>发放数量：</label>
					<select class="form-control" id="coupon_num" style="width: 300px; display: inline-block; margin-right: 50px;">
						{{for $i = 1; $i <= 20; $i++}}
						<option value="{{$i}}">{{$i}}张</option>
						{{/for}}
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" id="send_btn" class="btn btn-primary">发放</button>
			</div>
		</div>
	</div>
</div>