<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">回访记录</h1>

  <form class="form-inline" role="form" action="/crm2/customer_tracking_list.php">
    <div class="placeholder">
      {{if $is_show_selected_salers>0}}
      <div class="form-group" style="margin-right:50px;">
        <label>{{if $is_show_selected_salers==2}}客户专员：{{else}}组内成员{{/if}}</label>
        <select class="form-control" name="sales_suid">
          <option value="0" {{if empty($search_conf.sales_suid)}}selected="selected"{{/if}}>请选择</option>
          {{foreach $salesman_list as $man}}
          <option value="{{$man.suid}}" {{if $search_conf.sales_suid==$man.suid}}selected="selected"{{/if}}>{{$man.name}}</option>
          {{/foreach}}
        </select>
      </div>
      {{/if}}
      
      <div class="form-group" style="margin-right:50px;">
        <label>回访类型：</label>
        <select class="form-control" name="type">
          <option value="0" {{if empty($search_conf.type)}}selected="selected"{{/if}}>请选择</option>
          {{foreach $tracking_types as $_type=>$_desc}}
          <option value="{{$_type}}" {{if $search_conf.type==$_type}}selected="selected"{{/if}}>{{$_desc}}</option>
          {{/foreach}}
        </select>
      </div>
      
      <div class="form-group" style="margin-right:50px;">
        <label>会员ID：</label>
        <input type="text" class="form-control" name="cid" value="{{$search_conf.cid}}">
      </div>
      <button type="submit" class="btn btn-primary" id="btn_search">查询</button>
    </div>
  </form>

  <hr>

  <table class="table">
    <thead>
    <tr>
      <th>客户ID</th>
      <th style="width:12%;">客户名</th>
      <th>tracking录入人</th>
      <th>当前销售</th>
      <th>回访类型</th>
      <th style="width: 40%;">内容</th>
      <th style="width: 10%;">添加时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{foreach $list as $tracking}}
    <tr data-cid="{{$tracking.tid}}">
      <td>
        {{$tracking._customer.cid}}
      </td>
      <td>
        {{$tracking._customer.name}}
      </td>
      <td>
        {{if !empty($tracking._edit_suid)}}{{$tracking._edit_suid.name}}{{else}} -- {{/if}}
      </td>
      <td>
        {{if !empty($tracking._sales_suid)}}{{$tracking._sales_suid.name}}{{else}} -- {{/if}}
      </td>
      <td>
        {{if array_key_exists($tracking.type, $tracking_types)}}
          {{$tracking_types[$tracking.type]}}
        {{else}} -- {{/if}}
      </td>
      <td style="max-width: 500px;">
        {{$tracking.content}}
      </td>
      <td>{{$tracking.ctime}}</td>
      <td>
          {{if !empty($_permissions["/crm2/edit_customer_tracking"])}}
          <a href="/crm2/edit_customer_tracking.php?tid={{$tracking.tid}}&cid={{$tracking._customer.cid}}" style="margin-right: 5px;">编辑</a>　
          {{/if}}
          {{if !empty($_permissions["/crm2/edit_customer_tracking"])}}
          <a href="/crm2/edit_customer_tracking.php?cid={{$tracking._customer.cid}}">添加</a>
          {{/if}}
      </td>
    </tr>
    {{/foreach}}
    </tbody>
  </table>

  <nav>
    <ul class="pagination">
      {{$pageHtml nofilter}}
      <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
    </ul>
  </nav>

</div>
