<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">
        客户积分日志
    </h1>

    <form class="form-inline" role="form" action="/crm2/customer_point_log_list.php">
        <div class="placeholder">
            <div class="form-group" style="margin-right:20px;">
                <label>客户CID：</label>
                <input style="width: 100px;" type="text" class="form-control" name="cid" value="{{$search_conf.cid}}">
            </div>
            <div class="form-group" style="margin-right:20px;">
                <label>用户UID：</label>
                <input style="width: 100px;" type="text" class="form-control" name="uid" value="{{$search_conf.uid}}">
            </div>
            <div class="form-group" style="margin-right:50px;">
                <label>用户名：</label>
                <input style="width: 100px;" type="text" class="form-control" name="name" value="{{$search_conf.name}}">
            </div>
            <div class="form-group" style="margin-right:50px;">
                <label>手机号：</label>
                <input style="width: 100px;" type="text" class="form-control" name="mobile" value="{{$search_conf.mobile}}">
            </div>
            <button type="submit" class="btn btn-primary" id="btn_search">查询</button>
            {{if $search_conf.uid > 0 && !empty($_permissions['/crm2/edit_user_point'])}}
            <button style="margin-left: 20px;" data-toggle="modal" data-target="#add_point" type="button" class="btn btn-warning" id="btn_add_point">增加积分</button>
            {{/if}}
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>客户ID</th>
            <th>用户名</th>
            <th>时间</th>
            <th>总积分</th>
            <th>可用积分</th>
            <th>冻结积分</th>
            <th>积分增加</th>
            <th>积分减少</th>
            <th>途径</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        {{foreach $list as $item}}
        <tr>
            <td>{{$item.id}}</td>
            <td>
                <a href="/crm2/customer_detail.php?cid={{$item.cid}}" target="_blank">{{$item.cid}}</a>
            </td>
            <td>
                {{$item._user.name}}[<a href="/crm2/customer_point_log_list.php?uid={{$item.uid}}">{{$item.uid}}</a>]
            </td>
            <td>
                {{$item.ctime}}
            </td>
            <td>
                {{$item.total_point}}
            </td>
            <td>
                {{$item.vaild_point}}
                {{if $item.objtype==5}}<span style="color:grey;font-size:12px;"> / {{$item.unfreeze_point}}</span>{{/if}}
            </td>
            <td>
                {{$item.frozen_point}}
            </td>
            <td>
                {{if $item.chg_point > 0}}
                {{$item.chg_point}}
                {{/if}}
            </td>
            <td>
                {{if $item.chg_point < 0}}
                {{$item.chg_point}}
                {{/if}}
            </td>
            <td>
                {{$item._desc.desc}}{{if $item._desc.url}}：<a href="{{$item._desc.url}}" target="_blank">{{$item.objid}}</a>{{/if}}
                {{if $item.objtype==1 && $item.had_unfreeze==1}}
                <br>
                <span style="color:gray;font-size:10px;">已解冻</span>
                {{/if}}
            </td>
            <td>
                {{$item.note}}
            </td>
        </tr>
        {{/foreach}}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li>
                <a style="color:#555;">共{{$total|string_format:"%d"}}个</a>
            </li>
        </ul>
    </nav>
</div>


<div class="modal fade _j_dialog" id="add_point" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">增加积分</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">分数：</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="adjust_point" value="{{$order.freight/100}}" style="display:inline-block;width:100px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" id="note" style="" rows="2"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="save_point">保存</button>
            </div>
        </div>
    </div>
</div>