<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">app问题反馈管理</h1>
    <form class="form-inline" role="form" action="/crm2/customer_fb_list.php" method="post">
        <div class="placeholder">
            <div class="form-group" style="margin-right: 20px;">
                <label>问题id：</label>
                <input type="text" class="form-control" style="width:230px;" name="fid" value="{{if !empty($searchConf.fid)}}{{$searchConf.fid}}{{/if}}" />
            </div>
            <div class="form-group" style="margin-right: 20px;">
                <label>注册用户：</label>
                <input type="text" class="form-control" style="width:230px;" name="contact_name" value="{{$searchConf.contact_name}}" style="width: 120px;" />
            </div>
            <div class="form-group" style="margin-right: 20px;">
                <label>注册手机号：</label>
                <input type="text" class="form-control" style="width:230px;" name="contact_phone" value="{{$searchConf.contact_mobile}}" style="width: 120px;" />
            </div>
        </div>
        <div class="placeholder">
            <div class="form-group">
                <label class="control-label">反馈时间：</label>
                <input type="datetime-local" class="form-control" name="start_time" value="{{$searchConf.from_date}}" style="width:200px;">

                ~
                <input type="datetime-local" class="form-control" name="end_time" value="{{$searchConf.end_date}}" style="width:200px;">

            </div>
            <div class="form-group" style="margin-right: 20px;margin-left: 20px;">
                <label>状态：</label>
                <select class="form-control" name="status" style="width:100px;">
                    <option value="0" >请选择</option>
                    <option value="1" {{if $searchConf.status == 1}} selected="selected" {{/if}}>待确认</option>
                    <option value="2" {{if $searchConf.status== 2}} selected="selected" {{/if}}>已确认</option>
                </select>
            </div>
            <div class="form-group" style="margin-right: 20px;">
                <label>客服：</label>
                <select class="form-control" name="ensure_id" style="width:100px;">
                    <option value="0" >请选择</option>
                    {{foreach $cs as $id => $text}}
                    <option value="{{$text.suid}}" {{if $searchConf.ensure_id == $text.suid}} selected="selected" {{/if}}>{{$text.name}}</option>
                    {{/foreach}}
                </select>
            </div>
            <div class="form-group" style="margin-right: 20px;">
                <label>销售：</label>
                <select class="form-control" name="sale_id" style="width:100px;">
                    <option value="0" >请选择</option>
                    {{foreach $sales as $id => $text}}
                    <option value="{{$text.suid}}" {{if $searchConf.sale_id == $text.suid}} selected="selected" {{/if}}>{{$text.name}}</option>
                    {{/foreach}}
                </select>
            </div>
            <div class="form-group" >
                <button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px; width: 70px;">查询</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered " style="background: white; text-align: center;">
        <thead style="background-color: #898989;color: white;font-size: 16px;">
        <tr style="text-align: center">
            <th style="text-align: center">问题ID</th>
            <th style="text-align:center;width: 20%">问题内容</th>
            <th style="text-align: center">注册用户</th>
            <th style="text-align: center">注册手机</th>
            <th style="text-align: center">反馈时间</th>
            <th style="text-align: center">状态</th>
            <th style="text-align: center;width: 20%">解决方案</th>
            <th style="text-align: center">确认/销售</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        {{foreach $list as $id => $item}}
        <tr>
            <td style="vertical-align: middle;">{{$item.fid}}</td>
            <td style="text-align: left"><a href="javascript:;" class="showAll" data_all="{{$item.content}}" data-toggle="modal" data-target="#showAll">{{$item._content}}</a></td>
            <td style="vertical-align: middle;">{{$item.contact_name}}</td>
            <td style="vertical-align: middle;">{{$item.contact_phone}}</td>
            <td style="vertical-align: middle;">{{$item.ctime}}</td>
            <td style="vertical-align: middle;">
                {{if $item.ensure_status == 0}}
                <span style="color: #ff0000;">待确认</span>
                {{else if $item.ensure_status == 1}}
                <span>已确认</span>
                {{/if}}
            </td>
            <td style="text-align: left"><a href="javascript:;" class="showAll" data_all="{{$item.solve}}" data-toggle="modal" data-target="#showAll">{{$item._solve}}</a></td>
            <td style="vertical-align: middle;">
                {{if !empty($item.ensure_id) && !empty($item._ensure)}}
                {{$item._ensure}}
                {{else if !empty($item.ensure_id) && empty($item._ensure)}}
                管理员
                {{else}}
                --
                {{/if}}
                /
                {{if !empty($item.sale_id)}}
                {{$item._sale}}
                {{else}}
                --
                {{/if}}
            </td>
            <td style="vertical-align: middle;">
                {{if !empty($_permissions["/crm2/ajax/ensure_customer_fb"])}}
                    {{if $item.ensure_status == 1 || $item.ensure_status == 0}}
                    <a href="javascript:;" data-toggle="modal" data-target="#contentDetail" class="ensure" data_id="{{$id}}" data_ensure="{{$item.ensure_status}}">确认</a><br/>
                    {{else if $item.ensure_status == 0 || $item.ensure_status == 1}}
                    <a href="javascript:;" style="color:gray;">确认</a>
                    {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/foreach}}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
        </ul>
    </nav>
    <div class="modal fade _j_dialog" id="contentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title">请输入您的处理解决方案</p>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="5" cols="40" id="solve"></textarea>
                </div>
                <div class="modal-footer" style="margin-right: 325px;">
                    <button type="button" class="btn btn-primary" id="send">提交更改</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade _j_dialog" id="showAll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">详情</h4>
                </div>
                <div class="modal-body">
                    <div id="real_content" style="width:100%;" class="container"></div>
                </div>

                <div class="modal-footer" style="margin-right: 400px;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>


