<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">客户列表</h1>

  <form class="form-inline" role="form" action="/crm2/customer_list_cs.php">
    
    <div class="placeholder">
      <div class="form-group" style="margin-right:30px;">
        <label>客户Cid ：</label>
        <input style="width:105px;" type="text" class="form-control" name="cid" value="{{$search_conf.cid}}">
      </div>
      
      <div class="form-group" style="margin-right:30px;">
        <label>手机：</label>
        <input type="text" class="form-control" name="mobile" value="{{$search_conf.mobile}}">
      </div>

      <div class="form-group" style="margin-right:30px;">
        <label>名称：</label>
        <input type="text" class="form-control" name="name" value="{{$search_conf.name}}">
      </div> 
      
      <button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>
      
    </div>
    
    
  </form>

  <hr>
  {{if $total > 0}}
  <table class="table">
    <thead>
    <tr>
      <th style="width:10%;">Uid/Cid</th>
      <th style="width:16%;">用户信息</th>
      <th style="width:16%;">客户信息</th>
      <th style="width:13%;">欠款/账期</th>
      <th style="width:12%;">最后下单</th>
      <th style="width:12%;">总消费/除沙石类</th>
      <th style="width:8%;">优惠券</th>
      <th style="width:18%;">操作</th>
    </tr>
    </thead>
    <tbody>
    {{foreach $user_list as $uinfo}}
    <tr>
      <td>
        <span>Uid: {{$uinfo.uid}}</span>
        <br/>
        <span>Cid: {{$uinfo.cid}}</span>
        {{if $uinfo._customer.status<>0}}
        <br/>
        <span style="color:red;">({{$status_list[$customer.status]}})</span>
        {{/if}}
      </td>
      <td>
        <span>{{$uinfo.name}}</span>
        <br/>
        {{*<span>{{$uinfo.mobile}}</span>*}}
        
      </td>
      
      <td>
        <span>{{$uinfo._customer.name}}</span>
      </td>
      
      <td>
        欠：
        {{if $uinfo._customer.account_balance > 0}}
        <span style="color:red;">{{$uinfo._customer.account_balance / 100}}元</span><br />
        {{else}}
        无<br />
        {{/if}}
        
        账：
        {{if $uinfo._customer.payment_days > 0}}
          {{$uinfo._customer.payment_days}} 天
        {{else}}
          无
        {{/if}}
      </td>
      
      <td>
        <a href="/order/order_list.php?cid={{$uinfo._customer.cid}}">
          <span>{{$uinfo._customer.order_num}}单</span> / 
          <span>{{if empty($uinfo._customer.last_order_date) || '0000-00-00'==$uinfo._customer.last_order_date}}-{{else}}{{$uinfo._customer.last_order_date}}{{/if}}</span>
        </a>
        <br>
      </td>
      
      <td><span>￥{{$uinfo._customer.total_amount/100}}元</span>/<span>￥{{$uinfo._customer.order_amount/100}}元</span></td>
      
      <td>
        {{if $uinfo._coupon.100}}{{$uinfo._coupon.100}}张100券<br/>{{/if}}
        {{if $uinfo._coupon.50}}{{$uinfo._coupon.50}}张50券<br/>{{/if}}
        {{if $uinfo._coupon.40}}{{$uinfo._coupon.40}}张40券<br/>{{/if}}
      </td>
      
      <td>
        <a href="/crm2/customer_detail.php?cid={{$uinfo._customer.cid}}" style="margin-right: 10px;">详情</a>
        
        {{if $_isCS || $_isAdmin || $_isSales || $_isFinance}}
        <a href="/crm2/edit_customer.php?cid={{$uinfo._customer.cid}}" style="margin-right: 10px;">编辑</a>
        {{/if}}
        
        {{if $uinfo._customer.order_num > 0}}
        <a href="/order/order_list.php?cid={{$uinfo._customer.cid}}">查看订单</a>　
        {{/if}}
        <br>
        
        
        {{if $_isCS || $_isAdmin}}
        <a href="/order/add_order.php?cid={{$uinfo._customer.cid}}&uid={{$uinfo.uid}}" style="margin-right: 10px; color: purple;">下单</a>
        <a href="/order/add_order2.php?cid={{$uinfo._customer.cid}}&uid={{$uinfo.uid}}" style="margin-right: 10px; color: purple;">一步下单</a>　
        {{/if}}
        <br />

        {{if $_isCS || $_isAdmin}}
          <a href="#" class="_j_reset_pass" data-uid="{{$uinfo.uid}}">重置密码</a>
        {{/if}}
      </td>
    </tr>
    {{/foreach}}
    </tbody>
  </table>
  {{else}}
  无此用户！
    {{if !empty($search_conf.mobile)}}
    你可以：
    <a class="btn btn-primary" href="javascript:;" id="auto_save_customer">创建客户快速下单</a>
    {{/if}}
  {{/if}}

  <nav>
    <ul class="pagination">
      {{$pageHtml nofilter}}
      <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
    </ul>
  </nav>

</div>

{{include file="crm2/block/coupon_dialog.html"}}
