<style>
	.area-bottom {
		border-bottom: 1px dashed #eee;
		margin: 20px;
	}
	.tips {
		color: red;
		font-size: 25px;
		margin: 20px 200px;
	}
</style>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">{{if $cid==0}}添加客户{{else}}编辑客户{{/if}}</h1>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="home">
			<form class="form-horizontal" role="form">

				{{include file="crm2/block/customer_edit_info.html"}}

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-primary" id="_j_save_customer_info" style="margin-right:20px;">保存</button>
					</div>
				</div>

                {{if $cid != 0}}
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10" style="margin-top:15px;">
						<span style="font-size:16px; color:red;">【联系人】信息</span>
					</div>
				</div>
                
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>

					<div class="col-sm-8">
						{{if !empty($users)}}
						<table class="table">
							<thead>
							<tr>
								<th>UID</th>
								<th>姓名</th>
								<th>电话</th>
								<th>籍贯</th>
								<th>管理员</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody>
							{{foreach $users as $_user}}
							<tr class="_j_one_user">
								<td class="uid">{{$_user.uid}}</td>
								<td class="name">{{$_user.name}}</td>
								<td class="mobile">{{$_user.mobile}}</td>
								<td class="hometown">{{$_user.hometown|default:'--'}}</td>
								<td class="is_admin" data-isadmin="{{$_user.is_admin}}">{{if $_user.is_admin}}是{{else}}否{{/if}}</td>
								<td>
                                    <a href="javascript:;" class="_j_modify_userinfo" data-type="modify">修改信息</a>
                                    <span style="margin-left:5px; margin-right: 5px;">|</span>
                                    <a href="javascript:;" class="_j_modify_userinfo" data-type="unbind">解除绑定</a>
								</td>
							</tr>
							{{/foreach}}
							</tbody>
						</table>
						{{/if}}
					</div>
				</div>
				<div style="text-align:center;  font-size:18px; color:red;">
					<button type="button" class="btn btn-primary _j_modify_userinfo" data-type="bind" style="margin-right:20px;">请添加联系人</button>
				</div>
                {{/if}}
			</form>
		</div>
	</div>
</div>

{{include file="crm2/block/user_dialog.html"}}

