<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">{{if $info.id}}编辑{{else}}添加{{/if}}拜访</h1>
	<form class="form-horizontal" role="form">
        <input type="hidden" name="id" value="{{$info.id}}">
        <input type="hidden" name="schedule_id" value="{{$schedule_id}}">
        <div class="form-group">
			<label class="col-sm-2 control-label">客户CID：</label>
			<div class="col-sm-4">
				<input type="text" name="cid" class="form-control" value="{{$cid}}" readonly>
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label">时间：</label>
            <div class="col-sm-4">
                <input type="datetime-local" class="form-control" name="visit_time" value="{{$visit_time|date_format:'%Y-%m-%dT%H:%M'}}" maxlength="120" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">拜访类型：</label>
            <div class="col-sm-4">
                <select class="form-control" name="visit_type"  {{if $info.visit_type==5}}disabled{{/if}}>
                    <option value="0">请选择</option>
                    {{foreach $visit_types as $key=>$type}}
                    <option value="{{$key}}" {{if $info.visit_type == $key}}selected="selected"{{/if}}>{{$type}}</option>
                    {{/foreach}}
                </select>
            </div>
        </div>
		<div class="form-group">
			<label class="col-sm-2 control-label">拜访地址：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="address" value="{{$info.address}}" {{if $info.visit_type == 5}}readonly{{/if}}>
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-2 control-label">拜访反馈：</label>
            <div class="col-sm-6">
                <textarea name="content" id="TextArea1" class="form-control" rows="5">{{$info.content}}</textarea><br>
                剩余<span id="textCount">0</span>个字
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 80px;">
            <label class="col-sm-2 control-label">上传图片：</label>
            <div class="col-sm-10">
                {{if $info.visit_type != 5}}
                <button style="margin-bottom: 20px;" type="button" class="btn btn-default" id="_j_btn_select_pic" data-path="customer/visit">从电脑选择图片</button><br />
                {{/if}}
                <div id="img_list" class="gridly" style="position: relative;">
                    {{foreach $info.image_list as $pic}}
                    <div class="img_item brick" style="float: left; width: 250px; height: 250px; margin: 20px;" data-pic="{{$pic.pic_tag}}">
                        <a href="{{$pic.url}}" target="_blank"><img class="img_img" style="max-width: 250px; max-height: 250px;" data-pic="{{$pic.pic_tag}}" src="{{$pic.url}}" /></a>
                        {{if $info.visit_type != 5}}
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <a style="margin-right:10px;" href="#" onclick="delete_pic('{{$pic.pic_tag}}');return false;" class="btn btn-default">删除</a>
                        </div>
                        {{/if}}
                    </div>
                    {{/foreach}}
                </div>
                <div style="clear: both;"></div>
                <input type="hidden" name="pic_ids" value="{{$info.pic_ids}}">
            </div>
        </div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-primary" id="_j_save_customer_visit">保存</button>
			</div>
		</div>
	</form>
</div>