<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">开票申请列表</h1>

    <form class="form-inline" role="form" action="/crm2/invoice_list.php">
        <div class="placeholder">
            <div class="form-group" style="margin-right: 20px;">
                <label>申请日期：</label>
                <input type="date" class="form-control" name="from_ctime" value="{{if $search_conf.from_ctime}}{{$search_conf.from_ctime}}{{/if}}" style="width: 160px;"> —
                <input type="date" class="form-control" name="end_ctime" value="{{if $search_conf.end_ctime}}{{$search_conf.end_ctime}}{{/if}}" style="width: 160px;">
            </div>
            <div class="form-group">
                <label>发票类型：</label>
                <select class="form-control" name="invoice_type" style="margin-right:20px;">
                    <option value="0" {{if $search_conf.invoice_type==0}} selected="selected" {{/if}}>全部</option>
                    {{foreach $invoice_types as $key=>$type}}
                    <option value="{{$key}}" {{if $search_conf.invoice_type==$key}}selected="selected" {{/if}}>{{$type}}</option>
                    {{/foreach}}
                </select>
            </div>
            <div class="form-group">
                <label>开票城市：</label>
                <select class="form-control" name="city_id" style="margin-right:20px;">
                    <option value="0" {{if $search_conf.city_id==0}} selected="selected" {{/if}}>全部</option>
                    {{foreach $city_list as $key=>$city}}
                    <option value="{{$key}}" {{if $search_conf.city_id==$key}}selected="selected" {{/if}}>{{$city}}</option>
                    {{/foreach}}
                </select>
            </div>
        </div>
        <div class="placeholder">
            <div class="form-group" style="margin-right:20px;">
                <label>发票ID：</label>
                <input type="text" class="form-control" name="id" value="{{$search_conf.id}}" style="width:80px;">
            </div>
            <div class="form-group" style="margin-right:20px;">
                <label>订单ID：</label>
                <input type="text" class="form-control" name="bill_ids" value="{{$search_conf.bill_ids}}" style="width:80px;">
            </div>
            <div class="form-group" style="margin-right:20px;">
                <label>客户ID：</label>
                <input type="text" class="form-control" name="cid" value="{{$search_conf.cid}}" style="width:80px;">
            </div>

            <button style="margin-left: 50px; margin-right: 20px;" type="submit" class="btn btn-primary" id="btn_search">查询</button>
        </div>
    </form>

    <nav class="nav navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav"  id="navbar" data-step="{{$step}}">
                    <li>
                        <a href="{{$page_url}}" style="padding-right: 30px;padding-left: 30px;">
                            全部
                        </a>
                    </li>
                    <li>
                        <a href="{{$page_url}}&step=1" style="padding-right: 30px;padding-left: 30px;">
                            待审核
                        </a>
                    </li>
                    <li>
                        <a href="{{$page_url}}&step=3" style="padding-right: 30px;padding-left: 30px;">
                            已审核
                        </a>
                    </li>
                    <li>
                        <a href="{{$page_url}}&step=5" style="padding-right: 30px;padding-left: 30px;">
                            已开票
                        </a>
                    </li>
                    <li>
                        <a href="{{$page_url}}&step=2" style="padding-right: 30px;padding-left: 30px;">
                            已驳回
                        </a>
                    </li>
                    <li>
                        <a href="{{$page_url}}&step=99" style="padding-right: 30px;padding-left: 30px;">
                            已删除
                        </a>
                    </li>
                </ul>
                {{if !empty($search_conf.cid) && $is_customer && !empty($_permissions['/crm2/edit_invoice'])}}
                <a class="btn btn-primary" href="/crm2/edit_invoice.php?cid={{$search_conf.cid}}" style="float: right; margin-top: 8px;" >申请开票</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <table class="table" style="text-align: center !important;">
        <thead>
        <tr>
            <th style="width:60px;">发票ID</th>
            <th style="width:75px;">发票类型</th>
            <th style="width:60px;">客户ID</th>
            <th>客户名</th>
            <th style="width:100px;">订单实付金额</th>
            <th style="width:100px;">申请开票金额</th>
            <th style="width:60px;">订单ID</th>
            <th style="width:75px;">开票城市</th>
            <th style="width:60px;">状态</th>
            <th style="width:150px;">申请人</th>
            <th style="width:150px;">审核</th>
            <th style="width:60px;">操作</th>
        </tr>
        </thead>
        <tbody>
        {{foreach $invoice_list as $invoice}}
        <tr {{if $invoice.is_diff}} style="color: red;"{{/if}}>
            <td>{{$invoice.id}}</td>
            <td>{{$invoice_types[$invoice.invoice_type]}}</td>
            <td>{{$invoice.cid}}</td>
            <td>{{$invoice.customer_name}}</td>
            <td>{{$invoice.real_amount/100}}</td>
            <td>{{$invoice.invoice_amount/100}}</td>
            <td>
                {{if !empty($invoice.bill_ids)}}
                {{foreach $invoice.bill_ids as $bill}}
                <a href="/order/order_detail.php?oid={{$bill}}" target="_blank">{{$bill}}</a><br>
                {{/foreach}}
                {{/if}}
            </td>
            <td>{{$city_list[$invoice.city_id]}}</td>
            <td>{{if $invoice.status==0}}{{$step_list[$invoice.step]}}{{else}}{{$step_list[99]}}{{/if}}</td>
            <td>{{$invoice._create_user}}<br>{{$invoice.ctime}}</td>
            <td>{{if $invoice.step>=3}}{{$invoice._sale_user}}<br>{{$invoice.sale_time}}{{/if}}</td>
            <td>
                {{if $invoice.status == 0 && ($invoice.step == 1 || ($invoice.step == 2 && !$is_assis)) && !empty($_permissions['/crm2/edit_invoice'])}}
                <a href="/crm2/edit_invoice.php?id={{$invoice.id}}" target="_blank">编辑</a><br/>
                {{/if}}
                <a href="/crm2/show_invoice.php?id={{$invoice.id}}">查看</a><br/>
                {{if $invoice.status == 0 && $invoice.step==2 && !empty($_permissions['/crm2/ajax/delete_output_invoice'])}}
                <a href="javascript:;" class="delete_invoice" data-id="{{$invoice.id}}" >删除</a><br/>
                {{/if}}
            </td>
        </tr>
        {{/foreach}}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
        </ul>
    </nav>

</div>