<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <ul style="margin-bottom: 20px;" class="nav nav-tabs">
        <li role="presentation" {{if $cate == 0}}class="active"{{/if}}><a href="/crm2/need_tracking_customers.php?cate=0"><h4>应回访客户列表</h4></a></li>
        <li role="presentation" {{if $cate == 1}}class="active"{{/if}}><a href="/crm2/need_tracking_customers.php?cate=1"><h4>已回访客户列表</h4></a></li>
        <li role="presentation" {{if $cate == 2}}class="active"{{/if}}><a href="/crm2/need_tracking_customers.php?cate=2"><h4>不回访客户列表</h4></a></li>
    </ul>

    <form class="form-inline" role="form" action="/crm2/need_tracking_customers.php">
        <input type="hidden" name="cate" value="{{$cate}}" />
        <div class="placeholder">
            <div class="form-group">
                <label>客户专员：</label>
                <select class="form-control" name="sales_suid" style="margin-right: 20px;">
                    <option value="0" {{if empty($search_conf.sales_suid)}}selected="selected"{{/if}}>请选择</option>
                    {{foreach $salesman_list as $man}}
                        <option value="{{$man.suid}}" {{if $search_conf.sales_suid==$man.suid}}selected="selected"{{/if}}>{{$man.name}}</option>
                    {{/foreach}}
                </select>
            </div>
            <div class="form-group" style="margin-right:50px;">
                <label>手机：</label>
                <input type="text" class="form-control" name="mobile" value="{{$search_conf.mobile}}">
            </div>
            <div class="form-group" style="margin-right:50px;">
                <label>名称：</label>
                <input type="text" class="form-control" name="name" value="{{$search_conf.name}}">
            </div>
        </div>
        <div class="placeholder">
            <div class="form-group" style="margin-right:50px;">
                <label>用户ID：</label>
                <input style="max-width:120px;" type="text" class="form-control" name="cid" value="{{$search_conf.cid}}">
            </div>
            <div class="form-group">
                <label>是否下过单：</label>
                <select class="form-control" name="type" style="margin-right: 20px;">
                    <option value="0" {{if empty($search_conf.type)}}selected="selected"{{/if}}>请选择</option>
                    <option value="3" {{if $search_conf.type == 3}}selected="selected"{{/if}}>下过单</option>
                    <option value="4" {{if $search_conf.type == 4}}selected="selected"{{/if}}>没下过单</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>
        </div>
    </form>

    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th style="width: 50%;">名称/联系人</th>
                <th>客户专员</th>
                {{if "/crm2/customer_list.php" == $smarty.server.REQUEST_URI}}
                <th style="min-width: 120px;">订单数/<a href="{{$smarty.server.REQUEST_URI}}?order=last_order">最后下单</a></th>
                {{else}}
                <th style="min-width: 120px;">订单数/<a href="{{$smarty.server.REQUEST_URI}}&order=last_order">最后下单</a></th>
                {{/if}}
                <th>应回访日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {{foreach $customers as $customer}}
            <tr data-cid="{{$customer.cid}}">
                <td>
                    {{$customer.cid}}
                </td>
                <td>
                  <a style="margin-right: 20px;" href="/crm2/customer_detail.php?cid={{$customer.cid}}">
                    {{$customer.name}}
                    {{if $customer.name <> $customer.contact_name}}
                        <span style="color:gray;"> - {{$customer.contact_name}}</span>
                    {{/if}}
                    </a>
                    <br/>
                    <span style="color:gray;">{{$customer.phone}}</span>
                    <br/>
                    {{if $customer.latest_tracking_user}}
                    {{$customer.latest_tracking_user}}：{{$customer.latest_tracking}}
                    {{/if}}
                </td>
                <td>
                    {{if $customer._suser.name}}{{$customer._suser.name}}{{else}}-{{/if}}
                    {{if $customer.sales_suid2}}，{{foreach $salesman_list as $sales}}{{if $sales.suid == $customer.sales_suid2}}{{$sales.name}}{{/if}}{{/foreach}}{{/if}}<br>
                    {{$customer.member_date}}
                </td>
                <td>
                    {{if $_isSales}}
                    <a href="/order/customer_order_list.php?cid={{$customer.cid}}">{{$customer.order_num}} / {{if empty($customer.last_order_date) || '0000-00-00'==$customer.last_order_date}}-{{else}}{{$customer.last_order_date}}{{/if}}</a><br>
                    {{else}}
                    <a href="/order/order_list.php?cid={{$customer.cid}}">{{$customer.order_num}} / {{if empty($customer.last_order_date) || '0000-00-00'==$customer.last_order_date}}-{{else}}{{$customer.last_order_date}}{{/if}}</a><br>
                    {{/if}}
                    {{if ($_isAdmin || $_isCS || $_isSales) &&  $customer.rival_desc > 1 && $rival_desc_list[$customer.rival_desc]}}
                    <span style="color:red;">({{$rival_desc_list[$customer.rival_desc]}})</span>
                    {{/if}}
                </td>
                <td>
                    {{if $cate != 2 && $customer.visit_due_date <> '0000-00-00'}}
                        {{$customer.visit_due_date}}
                    {{else}}
                        --
                    {{/if}}
                </td>
                <td>
                    <a data-cid="{{$customer.cid}}" style="margin-right: 20px;" class="note_history" data-toggle="modal" data-target="#note-history">回访历史</a>
                    <a id="add_tracking" data-cid="{{$customer.cid}}" class="edit_tracking" data-toggle="modal" data-target="#dlgAddProduct">添加记录</a>
                    <br />
                    <a id="delay_tracking" data-cid="{{$customer.cid}}" class="edit_tracking" data-toggle="modal" data-target="#dlgAddProduct">推迟回访</a>
                </td>
            </tr>
        {{/foreach}}
        </tbody>
    </table>

    <!-- 添加回访记录 -->
    <div class="modal fade" id="dlgAddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-oid="{{$order.info.oid}}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加回访记录
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="overflow: auto;" class="form-group">
                        <label class="col-sm-2 control-label">用户状态：</label>
                        <div class="col-sm-8">
                            <input id="tracking" checked="checked" type="radio" name="need_tracking" value="1" style="margin-right: 5px;">还会继续回访
                            <input id="no_tracking" type="radio" name="need_tracking" value="0" style="margin-right: 5px; margin-left: 50px;">不再回访了
                        </div>
                    </div>
                    <div id="tracking_time" style="overflow: auto;" class="form-group">
                        <label class="col-sm-2 control-label">下次回访日期：</label>
                        <div class="col-sm-8">
                            <input value="{{$visit_due_date}}" type="date" min="{{$today}}" class="form-control" id="tracking_due_date" style="display:inline-block;width:200px;">
                            <br />
                            <span style="color: red;">无法选择时间，建议使用chrome或者firefox，或者手动填写日期如“2015-01-01”</span>
                        </div>
                    </div>
                    <div id="tracking_content" style="overflow: auto;" class="form-group">
                        <label class="col-sm-2 control-label">回访记录：</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id="note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style="margin-right: 20px;" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="_j_btn_edit_tracking">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 备注历史 -->
    <div class="modal fade" id="note-history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">
                        历史备注（显示最近的20条）
                    </h4>
                </div>
                <div id="note-history-container" class="modal-body">

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pagination">
            {{$pageHtml nofilter}}
            <li><a style="color:#555;">共{{$total|string_format:"%d"}}个</a></li>
        </ul>
    </nav>
</div>
