<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <h1 class="page-header">
      销售业绩榜
      {{if !empty($_permissions["/crm2/download_performance"])}}
      <a href="/crm2/download_performance.php?download=1&from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}" class="btn btn-success" style="margin-left:50px;">下载</a>
      {{/if}}
  </h1>

  <form class="form-inline" role="form" action="/statistics/performance.php">
    <div class="placeholder">
      {{if !empty($_permissions["crm2_check_other_group"])}}
      <div class="form-group" style="margin-right:30px;">
        <label>城市：</label>
        <select class="form-control" name="city_id">
          <option value="0">全部</option>
          {{foreach $cities as $city_id => $city_name}}
          <option value="{{$city_id}}" {{if $search_city_id==$city_id}}selected="true"{{/if}}>{{$city_name}}</option>
          {{/foreach}}
        </select>
      </div>
      
      <div class="form-group" style="margin-right:30px;">
        <select class="form-control" name="leader_suid">
          <option value="0">所有小组</option>
          {{foreach $leaders as $leader}}
          <option value="{{$leader.suid}}" {{if $search_leader_suid == $leader.suid}}selected="true"{{/if}}>{{$leader.name}}</option>
          {{/foreach}}
        </select>
      </div>

      {{/if}}
      <div class="form-group" style="margin-right:30px;">
        <label>时间：</label>
        <input type="date" class="form-control" name="from_date" value="{{$from_date}}" placeholder="YYYY-MM-DD">
        <span> -- </span>
        <input type="date" class="form-control" name="end_date" value="{{$end_date}}" placeholder="YYYY-MM-DD">
      </div>
      <button type="submit" class="btn btn-primary" id="btn_search" style="margin-left:40px;">查询</button>

      <a href="/statistics/performance.php?from_date={{$smarty.now|date_format:'%Y-%m-%d'}}&end_date={{$smarty.now|date_format:'%Y-%m-%d'}}&city_id={{$search_city_id}}" class="btn btn-default" style="margin-left:15px;">今天业绩</a>


      <span style="display: inline-block;color:gray;padding-left: 20px;"><br/>备注：1、数据非实时，目前每小时更新一次 2、新客户数，可能比客户列表少，因为有客户是下单后分配给当前销售的</span>
  </form>

  <hr>
  {{if $too_early}}
  <font style="color:red;">只能查 2016-02-01号 之后的数据，请重新搜索！</font>
  {{else}}

  {{$totol_input = 0}}
  {{$total_new_order_customer=0}}
  {{$total_spending_amount=0}}
  {{$total_debt=0}}
  {{$total_self=0}}
  {{$total_haocai=0}}
  {{$total_not_haocai=0}}
  {{$total_new=0}}
  {{$total_call=0}}
  {{$total_order=0}}
  {{$total_refund=0}}
  {{$total_second_order_customer=0}}
  {{$total_privte_customer=0}}
  {{$total_order_customer=0}}

  <table class="table">
    <thead>
    <tr>
      <th width="8%;">姓名</th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=input">线索</a></th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=new_order_customer">新客户</a></th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=spending_amount">销售额</a></th>
        <th>私海用户数</th>
        <th>下单用户数</th>
      <th>私海下单客户</th>
      <th>销售额<br/>(自助下单+<br/>非自助下单)</th>
      {{*<th>销售额<br/>(自有下单+<br/>非自有下单)</th>*}}
      <th>销售额<br/>(新客+老客)</th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=pre">预付款</a></th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=call">客户拜访</a></th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=order">订单数</a></th>
      <th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=refund">退款额</a></th>
      <!--<th><a href="?from_date={{$from_date}}&end_date={{$end_date}}&city_id={{$search_city_id}}&order_by=second_order_customer">二次下单客户</a></th>-->
        <th>客单价</th>
    </tr>
    </thead>
    <tbody>
    {{$_index=1}}
    {{foreach $performance_list as $suid=> $performance}}
    <tr data-suid="{{$suid}}">
      {{if $_isAdmin || $suid==$_uid}}
      <td><span style="color:gray;">{{$_index++}}</span> {{$performance._suser.name}}</td>
      <td><a href="/crm2/customer_list.php?record_suid={{$suid}}&btime={{$from_date}}&etime={{$end_date}}">{{$performance.input}}</a></td>
      <td><a href="/crm2/customer_list.php?sales_suid={{$suid}}&btime={{$from_date}}&etime={{$end_date}}&first_order=on">{{$performance.new_order_customer.all}}</a></td>
      <td>￥<a href="/order/order_list.php?saler_suid={{$suid}}&from_ctime={{$from_date}}&end_ctime={{$end_date}}">{{$performance.spending_amount.all}}</a>
          <br />
        {{if $performance.spending_amount.vip_coupon_amount>0}}
          vip:{{$performance.spending_amount.vip_coupon_amount}}<br />
        {{/if}}
        {{if $performance.spending_amount.debt>0 && !$_hide_useless}}
        <span style="color:red;"><a href="/order/order_list.php?has_paid=2&saler_suid={{$suid}}&from_ctime={{$from_date}}&end_ctime={{$end_date}}" style="color:red;" target="_blank">欠:{{$performance.spending_amount.debt}}</a></span>
        {{/if}}
        {{if isset($balance_due[$suid])}}
        <br>
        <span style="color:blue;">总欠：{{$balance_due[$suid]|string_format:"%.2f"}}</span>
        {{/if}}
      </td>
        <td>{{$performance.total_customer}}</td>
        <td>{{$performance.order_customer_num}}</td>
      {{$_proportion = round($performance.order_customer_num / $performance.total_customer, 2) * 100}}
      <td {{if $_proportion < 50}}style="color:red"{{/if}}>{{$_proportion|string_format:"%.1f%%"}}</td>
      <td>{{$performance.spending_amount.self|string_format:"%d"}}<br>+{{$performance.spending_amount.all|string_format:"%d" - $performance.spending_amount.self|string_format:"%d"}}</td>
      <!--<td>{{$performance.spending_amount.haocai|string_format:"%d"}}<br>+{{$performance.spending_amount.not_haocai|string_format:"%d"}}</td>-->
      <td>{{$performance.spending_amount.new_customer|string_format:"%d"}}<br>+{{$performance.spending_amount.all|string_format:"%d" - $performance.spending_amount.new_customer|string_format:"%d"}}</td>
      <td><a href="/finance/customer_amount_list.php?type=1&saler_suid={{$suid}}&btime={{$from_date}}&etime={{$end_date}}" target="_blank">{{$performance.sales_amount.pre}}</a></td>
      <td><a href="/crm2/customer_tracking_list.php?type=1&edit_suid={{$suid}}&from_date={{$from_date}}&end_date={{$end_date}}">{{$performance.call}}</a></td>
      <td>
          {{if $_isSales}}
          <a href="/order/customer_order_list.php?saler_suid={{$suid}}&from_ctime={{$from_date}}&end_ctime={{$end_date}}">{{$performance.order}}</a>
          {{else}}
          <a href="/order/order_list.php?saler_suid={{$suid}}&from_ctime={{$from_date}}&end_ctime={{$end_date}}">{{$performance.order}}</a>
          {{/if}}
      </td>
      <td>￥<a href="/aftersale/refund_list.php?sales_suid={{$suid}}&from_date={{$from_date}}&end_date={{$end_date}}">{{$performance.refund_stat.refund}}</a></td>
      <!--<td><a href="/crm2/customer_list.php?sales_suid={{$suid}}&btime={{$from_date}}&etime={{$end_date}}&second_order=on">{{$performance.second_order_customer}}</a></td>-->
        <td>{{($performance.spending_amount.all / $performance.order)|string_format:'%.2f'}}</td>
        {{else}}
      <td><span style="color:gray;">{{$_index++}}</span> {{$performance._suser.name}}</td>
      <td>{{$performance.input}}</td>
      <td>{{$performance.new_order_customer.all}}</td>
      <td>
        ￥{{$performance.spending_amount.all}}
        <br />{{if $performance.spending_amount.debt>0}}<span style="color:red;">欠:{{$performance.spending_amount.debt}}</span>{{/if}}
      </td>
        <td>{{$performance.total_customer}}</td>
        <td>{{$performance.order_customer_num}}</td>
      {{$_proportion = round($performance.order_customer_num / $performance.total_customer, 2) * 100}}
      <td {{if $_proportion<50}}style="color:red"{{/if}}>{{$_proportion|string_format:"%.1f%%"}}</td>
      <td>{{$performance.spending_amount.self|string_format:"%d"}}+<br>{{$performance.spending_amount.all|string_format:"%d" - $performance.spending_amount.self|string_format:"%d"}}</td>
      <!--<td>{{$performance.spending_amount.haocai|string_format:"%d"}}+<br>{{$performance.spending_amount.not_haocai|string_format:"%d"}}</td>-->
      <td>{{$performance.spending_amount.new_customer|string_format:"%d"}}+<br>{{$performance.spending_amount.all|string_format:"%d" - $performance.spending_amount.new_customer|string_format:"%d"}}</td>
      <td>{{$performance.sales_amount.pre}}</td>
      <td>{{$performance.call}}</td>
      <td>{{$performance.order}}</td>
      <td>￥{{$performance.refund_stat.refund}}</td>
      <!--<td>{{$performance.second_order_customer}}</td>-->
        <td>{{($performance.spending_amount.all / $performance.order)|string_format:'%.2f'}}</td>
      {{/if}}
    </tr>
    {{$totol_input = $totol_input + $performance.input }}
    {{$total_new_order_customer=$total_new_order_customer + $performance.new_order_customer.all }}
    {{$total_spending_amount=$total_spending_amount + $performance.spending_amount.all }}
    {{$total_debt=$total_debt + $performance.spending_amount.debt }}
    {{$total_self=$total_self + $performance.spending_amount.self }}
    {{$total_haocai=$total_haocai + $performance.spending_amount.haocai }}
    {{$total_not_haocai=$total_not_haocai + $performance.spending_amount.not_haocai }}
    {{$total_new=$total_new + $performance.spending_amount.new_customer }}
    {{$total_pre=$total_pre + $performance.sales_amount.pre}}
    {{$total_call=$total_call + $performance.call }}
    {{$total_order=$total_order + $performance.order }}
    {{$total_refund=$total_refund + $performance.refund_stat.refund }}
    {{$total_second_order_customer=$total_second_order_customer + $performance.second_order_customer }}
    {{$total_privte_customer = $total_privte_customer + $performance.total_customer}}
    {{$total_order_customer = $total_order_customer + $performance.order_customer_num}}
    {{/foreach}}


    <tr>
      <td>汇总:</td>
      <td>{{$totol_input}}</td>
      <td>{{$total_new_order_customer}}</td>
      <td>
        ￥{{$total_spending_amount}}
        <br />{{if $total_debt>0 && !$_hide_useless}}<span style="color:red;">(欠款:{{$total_debt}})</span>{{/if}}
        <br /><span style="color:blue;">(总欠：{{$total_balance_due}})</span>
        {{if isset($balance_due[0])}}
        <br /><span>(无销售欠：{{$balance_due[0]|string_format:"%.2f"}})</span>
        {{/if}}
      </td>
      <td>{{$total_privte_customer}}</td>
      <td>{{$total_order_customer}}</td>
      <td>{{$total_self|string_format:"%d"}}+<br>{{$total_spending_amount|string_format:"%d"-$total_self|string_format:"%d"}}</td>
      <!--<td>{{$total_haocai|string_format:"%d"}}+<br>{{$total_not_haocai|string_format:"%d"}}</td>-->
      <td>{{$total_new|string_format:"%d"}}+<br>{{$total_spending_amount|string_format:"%d"-$total_new|string_format:"%d"}}</td>
      <td>{{$total_pre}}</td>
      <td>{{$total_call}}</td>
      <td>{{$total_order}}</td>
      <td>￥{{$total_refund}}</td>
      <!--<td>{{$total_second_order_customer}}</td>-->
    </tr>
    </tbody>
  </table>
  {{/if}}

</div>
