<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">{{if empty($service_feature.id)}}添加{{else}}编辑{{/if}}快捷入口</h1>

    <form class="form-horizontal" role="form">
        {{if $service_feature.sid}}
        <div class="form-group">
            <label class="col-sm-2 control-label">id：</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="sid" value="{{$service_feature.sid}}" readonly="true">
            </div>
        </div>
        {{/if}}

        <div class="form-group">
            <label class="col-sm-2 control-label">特点内容(一)：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="feature1" value="{{$service_feature.feature1}}"  placeholder="（最多25个字）" maxlength="25">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">特点内容(二)：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="feature2" value="{{$service_feature.feature2}}"  placeholder="（最多25个字）" maxlength="25">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">特点内容(三)：</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="feature3" value="{{$service_feature.feature3}}"  placeholder="（最多25个字）" maxlength="25">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">所在城市：</label>
            <div class="col-sm-6">
                <div class="checkbox" id="box">
                    <label style="margin-right:10px;" class="col-sm-2">
                        <input type="checkbox" value="" onclick="checkAll(this)" all="none">全选
                    </label>
                    {{foreach $city as $id => $name}}
                    <label style="margin-right:10px;" class="col-sm-2">
                        <input type="checkbox" value="{{$id}}" name="city" {{if strpos($service_feature.city, (string)$id) !== false}} checked="checked" {{/if}}>{{$name}}
                    </label>
                    {{/foreach}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">显示顺序：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="sort" placeholder="请输入数字" value="{{$service_feature.sort}}">
            </div>
            <label class="control-label" style="color:red">*数字越小位置越靠前，0为最小</label>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">开始时间：</label>
            <div class="col-sm-3">
                <input type="datetime-local" class="form-control" id="start_time" value="{{$service_feature.start_time}}">
            </div>
            <label class="col-sm-1 control-label" style="text-align: center">~</label>
            <div class="col-sm-3">
                <input type="datetime-local" class="form-control" id="end_time" value="{{$service_feature.end_time}}">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" id="btn_save_service_feature">保存</button>
                <a type="button" style="margin-left:20px;" class="btn btn-default" onClick="javascript:history.back(-1);">取消</a>
            </div>
        </div>
    </form>

</div>