<script src="../../htdocs_admin/js/apps/floor_activity.js"></script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h1 class="page-header">{{if empty($picture.id)}}添加{{else}}编辑{{/if}}活动图片</h1>

	<form class="form-horizontal" role="form">
		{{if $picture.id}}
		<div class="form-group">
			<label class="col-sm-2 control-label">id：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="id" value="{{$picture.id}}" readonly="true">
			</div>
		</div>
		{{/if}}

		<div class="form-group">
			<label class="col-sm-2 control-label">图片名称：</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="name" value="{{$picture.name}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">显示平台：</label>
			<div class="col-sm-8">
				{{foreach $platform_list as $id => $item}}
				<labe class="checkbox-inline">
					<input type="checkbox" id="check{{$id}}" name="platform" value="{{$id}}" {{if in_array($id, $picture.platform)}} checked {{/if}}>
					<label for="check{{$id}}">{{$item}}</label>
				</labe>
				{{/foreach}}
			</div>
		</div>

        <div class="form-group">
            <label class="col-sm-2 control-label">图片城市：</label>
            <div class="col-sm-4">
                {{foreach $city_list as $id => $item}}
                <labe class="checkbox-inline">
                    <input type="checkbox" id="city{{$id}}"  name="city_id" value="{{$id}}" {{if in_array($id, $picture.city_id)}} checked {{/if}}>
                    <label for="city{{$id}}">{{$item}}</label>
                </labe>
                {{/foreach}}
            </div>
        </div>

		<div class="form-group">
			<label class="col-sm-2 control-label">图片类型：</label>
			<div class="col-sm-2">
				<select class="form-control" name="type" data-init="{{$picture.type}}">
					<option value="0">请选择</option>
					{{foreach $type_list as $id => $item}}
					<option {{if $picture.type == $id}} selected="selected" {{/if}} value="{{$id}}">{{$item}}</option>
					{{/foreach}}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">活动类型：</label>
			<div class="col-sm-8">

				<label class="radio-inline">
					<input type="radio" name="activity_type" class="activity_type" style="margin-right: 5px" value="1" {{if $picture.activity_type == 1}} checked="checked"{{/if}} {{if !$picture.activity_type}} checked="checked"{{/if}}>
					<label>文章类</label>
				</label>
				<labe class="radio-inline">
					<input type="radio" name="activity_type" class="activity_type" style="margin-right: 5px" value="2" {{if $picture.activity_type == 2}} checked="checked" {{/if}}>
					<label>落地页类</label>
				</labe>
			</div>
		</div>

		<div class="form-group url" {{if $picture.activity_type == 2}} hidden {{/if}}>
			<label class="col-sm-2 control-label">链接地址：</label>

			<div class="col-sm-5">
				<input type="text" class="form-control" id="url" name="url" value="{{$picture.url}}" placeholder="例 http://sa.haocai001.cn/activity/add_picture.php">
			</div>
		</div>

		<div class="form-group commodity_sid"  {{if $picture.activity_type == 1}} hidden {{/if}} {{if !$picture.activity_type}} hidden{{/if}}>
			<label class="col-sm-2 control-label">请输入商品SID：</label>

			<div class="col-sm-5">
				<input type="text" name="commodity_sid" class="form-control" value="{{$picture.commodity_sid}}" placeholder="最多只能填写50个商品SID">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">显示顺序：</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" name="display_order" placeholder="请输入数字" value="{{$picture.display_order}}">
			</div>
			<label class="control-label" style="color:red">*数字越小位置越靠前，0为最小</label>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">开始时间：</label>
			<div class="col-sm-3">
				<input type="datetime-local" class="form-control" name="start_time" value="{{$picture.start_time|date_format:'%Y-%m-%dT%H:%M:%S'}}">
			</div>
			<label class="col-sm-2 control-label">结束时间：</label>
			<div class="col-sm-3">
				<input type="datetime-local" class="form-control" name="end_time" value="{{$picture.end_time|date_format:'%Y-%m-%dT%H:%M:%S'}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">选择图片：</label>
			<div class="col-sm-8">
				<div style="display:inline-block;" class="_j_logo_wrap" data-x="{{$picture._picinfo.srcinfo.x}}" data-y="{{$picture._picinfo.srcinfo.y}}" data-w="{{$picture._picinfo.srcinfo.w}}" data-h="{{$sku._picinfo.srcinfo.h}}" data-url="{{if $sku._picinfo._srcpic}}{{$sku._picinfo._srcpic.middle}}{{else}}{{if $sku._pic.middle}}{{$sku._pic.middle}}{{/if}}{{/if}}">
					<img id="_j_upload_view_img" src="{{if empty($picture.id)}}/i/nopic100.jpg{{else}} {{$picture.pic_url}} {{/if}}">
				</div>
				<button style="display:inline-block; margin-left:10px;" type="button" class="btn btn-default" id="_j_btn_select_pic" data-path="banner">从电脑选择图片</button>
				<input type="hidden" name="pic_tag" value="{{if $sku._picinfo.srcinfo.pic}}{{$sku._picinfo.srcinfo.pic}}{{else}}{{$sku.pic_ids}}{{/if}}">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-primary" id="btn_save_picture">保存</button>
				<a type="button" style="margin-left:20px;" class="btn btn-default" onClick="javascript:history.back(-1);">取消</a>
			</div>
		</div>
	</form>

</div>
